/*
    Landing Page Lancamento Maternite Payot 2022
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
}
ol, ul, li {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h2{
    width: 100%;
    font-size: 36px;
    color: #000;
    margin-bottom: 20px;
    font-weight: 500;
}
h2 strong{
    color: #000;
}
strong{
    color: #000;
}
p{
    line-height: 26px;
}
img{
    max-width: 100%;
    height: auto;
}
.btn_more {
    background: #C34E62;
    padding: 15px 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 20px;
    float: left;
    transition: all ease-in-out .5s;
    cursor: pointer;
}
.btn_more:hover{
    box-shadow: 0 8px 25px -8px #000;
}
.left {
    float: left;
    position: relative;
    width: 100%;
}
.right {
    float:right;
    position: relative;
    width: 100%;
}
.lp-maternite .container.slide-home_principal{
    width: 100%;
    max-width: 100%;
}
.lp-maternite .container.slide-home_principal .slide-principal img{
    width: 100%;

}
.wrapper {
    /* position: relative; */
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    max-width: 1440px;
}

.main_categorias{
    margin-top: 32px;
}
.categorias-section ul {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}
.categorias-section .info_list li {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    text-align: left;
    margin: 0 0.375rem;
    background: #F9F9F9;
    border-radius: 4px;
    width: 25%;
}

.categorias-section .info_list li:nth-child(1){
    border: 1px solid #000;
    border-radius: 0px 10px 10px 10px;

    -webkit-box-shadow: 5px 5px 0px 0px rgba(102, 56, 182, 0.2);
    -moz-box-shadow: 5px 5px 0px 0px rgba(102, 56, 182, 0.2);
    box-shadow: 5px 5px 0px 0px rgba(102, 56, 182, 0.2);
}

.categorias-section .info_list li:nth-child(2){
    border: 1px solid #000;
    -webkit-border-radius: 10px 0px 10px 10px;
    -moz-border-radius: 10px 0px 10px 10px;
    border-radius: 10px 0px 10px 10px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(102, 56, 182, 0.2);
    -moz-box-shadow: 5px 5px 0px 0px rgba(102, 56, 182, 0.2);
    box-shadow: 5px 5px 0px 0px rgba(102, 56, 182, 0.2);
}

.categorias-section .info_list li:nth-child(3){
    border: 1px solid #000;
    -webkit-border-radius: 10px 10px 0px 10px;
    -moz-border-radius: 10px 10px 0px 10px;
    border-radius: 10px 10px 0px 10px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(102, 56, 182, 0.2);
    -moz-box-shadow: 5px 5px 0px 0px rgba(102, 56, 182, 0.2);
    box-shadow: 5px 5px 0px 0px rgba(102, 56, 182, 0.2);
}

.categorias-section .info_list li:nth-child(4){
    border: 1px solid #000;
    -webkit-border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    border-radius: 10px 10px 10px 0px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(102, 56, 182, 0.2);
    -moz-box-shadow: 5px 5px 0px 0px rgba(102, 56, 182, 0.2);
    box-shadow: 5px 5px 0px 0px rgba(102, 56, 182, 0.2);
}
.categorias-section .info_list li > span.icon {
    margin: 0 10px 0 0;
    background: #fff;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.categorias-section .info_list li .text strong{
    display: flex;
    font-size: 22px;
}
.categorias-section .info_list li .text span {
    font-size: 16px;
}
.first,
.second,
.text-marquee,
.tabs-section,
.products-list {
    margin: 50px 0;
}
.tabs-section {
    margin-bottom: 0;
}
.first .wrapper,
.second .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.call-img .first{
    position: relative;
}
.first .call-img .second{
    right: 28%;
    bottom: -4%;
    z-index: 2;
    position: absolute;
    margin: 0;
}
.first .right.call-txt ul,
.second .left.call-txt ul{
   display: block;
   margin: 30px 0;
}

.first .right.call-txt ul li,
.second .left.call-txt ul li{
    display: flex;
    align-items: center;
    /* flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center; */

    margin-bottom: 20px;
}
.first .right.call-txt ul li span,
.second .left.call-txt ul li span{
    display: inline-block;
    background-color: #000;
    min-width: 60px;
    height: 60px;
    /* line-height: 60px; */
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    margin-right: 20px;
    padding-top: 15px;
}

.second .right{
    width: 50%;
}
.second .left.call-txt{
    padding-right: 60px;
}
.second .call-img .second{
    left: -14%;
    bottom: -13%!important;
    z-index: 2;
    position: absolute;
    margin: 0;
}
.text-marquee{
    margin: 20px 0;
    color: #000;
    background-color: #E7E3EF;
    display: flex;
    width: 100%;
    position: relative;
    z-index: -1;
}
.text-marquee marquee{
    padding: 20px 0;
}
.text-marquee marquee span{
    margin: 0 20px;
    text-transform: uppercase;
    color: #000;
}
.text_info {
    color: #000;
    background-color: #E7E3EF;
    display: flex;
    width: 100%;
    padding: 40px 0;
}
.text_info p{
    padding: 40px 0;
    text-align: center;
    line-height: 30px;
    font-size: 22px;
    margin-bottom: 0;
}
/* Tabs */
 .tabs-container {
	padding: 2rem;
}

.tabs-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
    justify-content: flex-end;
}
.tabs-section .tabs-container .tabs-block .tabs .tab .text p{
    margin-bottom: 0;
    color: #fff;
}
.tabs label {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 4rem;
	margin-right: 30px;
	cursor: pointer;
	background-color: #CFD2D2;
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	transition: background-color ease 0.3s;

    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tabs .tab {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
	padding: 0;
	color: #000;
	background-color: #C34E62;
    border-radius: 50px;
}
.tabs .tab.tab_bg_first,
.tabs .tab.tab_bg_second {
    background-image: url(/arquivos/lp-maternite-tabs-01.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.tabs .tab > *:not(:last-child) {
	/*margin-bottom: 0.8rem;*/
}

.tabs [type=radio] {
	display: none;
}

.tabs [type=radio]:checked + label {
	background-color: #000;
	color: #fff;

    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tabs [type=radio]:checked + label + .tab {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.imgTab{
    width: 49%;
    float: left;
    margin-bottom: -3px;
}
.txtTab{
    width: 51%;
    float: left;
    padding: 40px;
}
/*
.tab.tab_bg_second .txtTab{
    width: 55%;
    float: left;
    padding: 40px;
}*/
.txtTab ul{
    list-style-type: none;
}

.txtTab li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.txtTab li span.icon{
    margin-right: 20px;
}
.txtTab li span.icon img{
    max-width: 64px;
    width: 100%;
}
.txtTab li.last{
    display: block;
    background: #fff;
    border-radius: 38px;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
    -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}
.tab.tab_bg_second .txtTab li.last{
    margin-top: 53px;
}
.txtTab li.last span.icon{display: none;}

.txtTab li.last p{
    margin-bottom: 0;
}
.video_info{
    padding: 40px 0;
}
.video_info .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border: 2px solid #C34E62;
    border-radius: 0px 140px 0px 140px;
}
.video_info .txt_video{
    width: 35%;
    margin-right: 50px;
}
.video_info .content_video{
    width: 50%;
}
video {
    width: 100%;
    height: auto;
}
.video_info .content_video  iframe{
    border-radius: 20px;
}

.grid-2-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.j-shelf__item-new-price{
    color: #c34e62;
}
.vitrine-produtos-lp h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #c34e62;
    margin-bottom: 2em;
}

.right.call-txt p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: .5em;
    color: #C34E62;
    max-width: 558px;
}

.right.call-txt p span.blue-text {
    color: #2CB9BC;
}
.prop {
    max-height: 200px;
}

.propriedades {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.video_info .txt_video h2 {
    font-size: 28px;
    max-width: 415px;
    color: #c34e62;
    font-weight: 700;
}
.txt_video p {
    font-size: 21px;
    font-weight: 500;
    max-width: 300px;
}
.grid-2-columns .right-column {
    max-width: 60%;
}
.j-shelf .slick-dots {
    justify-content: left;
    align-items: center;
}
.j-shelf .slick-dots li{
    padding: 0;
}
.j-shelf .slick-dots li.slick-active button {
    border: none;
    background: #c34e62;
}
.j-shelf .slick-dots li button {
    border: none;
    width: 90px;
    height: 5px;
    border-radius: 0;
    background-color: #D9D9D9;
}
.j-shelf .slick-arrow{
    position: relative;
    top: initial;
    border: none;
    transform: none;
    width: 52px;
    height: 30px;
    cursor: pointer;
}
.j-shelf .slick-prev{
    margin-right: 10px;
}
.custom-arrow{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.j-shelf .slick-prev:before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='40' viewBox='0 0 62 40' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M62 20C62 19.4107 61.7667 18.8456 61.3515 18.4289C60.9363 18.0122 60.3731 17.7781 59.7859 17.7781H7.56305L21.4989 3.79783C21.7047 3.59125 21.868 3.346 21.9794 3.07608C22.0909 2.80617 22.1482 2.51687 22.1482 2.22472C22.1482 1.93256 22.0909 1.64327 21.9794 1.37335C21.868 1.10344 21.7047 0.858188 21.4989 0.651604C21.293 0.44502 21.0486 0.281149 20.7796 0.169347C20.5107 0.0575442 20.2224 0 19.9313 0C19.6401 0 19.3518 0.0575442 19.0829 0.169347C18.8139 0.281149 18.5695 0.44502 18.3636 0.651604L0.650488 18.4269C0.444293 18.6333 0.280699 18.8785 0.169078 19.1484C0.0574562 19.4184 0 19.7077 0 20C0 20.2923 0.0574562 20.5816 0.169078 20.8516C0.280699 21.1215 0.444293 21.3667 0.650488 21.5731L18.3636 39.3484C18.5695 39.555 18.8139 39.7189 19.0829 39.8307C19.3518 39.9425 19.6401 40 19.9313 40C20.2224 40 20.5107 39.9425 20.7796 39.8307C21.0486 39.7189 21.293 39.555 21.4989 39.3484C21.7047 39.1418 21.868 38.8966 21.9794 38.6266C22.0909 38.3567 22.1482 38.0674 22.1482 37.7753C22.1482 37.4831 22.0909 37.1938 21.9794 36.9239C21.868 36.654 21.7047 36.4088 21.4989 36.2022L7.56305 22.2219H59.7859C60.3731 22.2219 60.9363 21.9878 61.3515 21.5711C61.7667 21.1544 62 20.5893 62 20Z' fill='%23c34e62'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 52px;
    height: 30px;
}
.j-shelf .slick-next:before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='40' viewBox='0 0 62 40' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-3.8147e-06 20C-3.8147e-06 20.5893 0.233273 21.1544 0.648502 21.5711C1.06374 21.9878 1.62691 22.2219 2.21414 22.2219L54.437 22.2219L40.5011 36.2022C40.2953 36.4088 40.132 36.654 40.0206 36.9239C39.9091 37.1938 39.8518 37.4831 39.8518 37.7753C39.8518 38.0674 39.9091 38.3567 40.0206 38.6266C40.132 38.8966 40.2953 39.1418 40.5011 39.3484C40.707 39.555 40.9514 39.7189 41.2204 39.8307C41.4893 39.9425 41.7776 40 42.0687 40C42.3599 40 42.6482 39.9425 42.9171 39.8307C43.1861 39.7189 43.4305 39.555 43.6364 39.3484L61.3495 21.5731C61.5557 21.3667 61.7193 21.1215 61.8309 20.8516C61.9425 20.5816 62 20.2923 62 20C62 19.7077 61.9425 19.4184 61.8309 19.1484C61.7193 18.8785 61.5557 18.6333 61.3495 18.4269L43.6364 0.651604C43.4305 0.445019 43.1861 0.281147 42.9171 0.169346C42.6482 0.0575409 42.3599 0 42.0687 0C41.7776 0 41.4893 0.0575409 41.2204 0.169346C40.9514 0.281147 40.707 0.445019 40.5011 0.651604C40.2953 0.858189 40.132 1.10344 40.0206 1.37335C39.9091 1.64327 39.8518 1.93256 39.8518 2.22472C39.8518 2.51687 39.9091 2.80616 40.0206 3.07608C40.132 3.34599 40.2953 3.59124 40.5011 3.79783L54.437 17.7781L2.21414 17.7781C1.62691 17.7781 1.06374 18.0122 0.648502 18.4289C0.233273 18.8456 -3.8147e-06 19.4107 -3.8147e-06 20Z' fill='%23c34e62'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 52px;
    height: 30px;
}
.tabs-block .tabs .tab {
    order: 1;
}
.j-shelf .slick-list {
    margin-left: -1.3em;
}
.saiba-mais {
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) {

	body {
		font-size: 1.125rem;
	}

	.tabs-container {
		padding: 4rem 4rem;
	}

	.tabs label {
		order: 1;
		width: auto;
	}

	.tabs .tab {
		order: 9;
	}

	.tabs [type=radio]:checked + label {
		border-bottom: none;
	}
}

@media (min-width: 992px) {

	.tabs {
		width: 100%;
	}
}

/* Products*/
.titulo-product h2{
    justify-content: center;
}
.cards {
    margin-top: 25px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.card {
    position: relative;
    border-radius: 1em;
    width: 20%;
    /* height: 290px; */
    background-color: #FFF;
    overflow: hidden;
    margin: 10px 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.card .card-header {
    /* position: absolute; */
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 45%;
}
.card .card-header .card-image {
    height: 55%;
}
.card .card-header.bg1 {
    background-color: #f6f6f6;
}
.card .card-header.bg2 {
    background-color: #f6f6f6;
}
.card .card-header.bg3 {
    background-color: #f6f6f6;
}
.card .card-content {
    /* position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 55%; */
    padding: 0 3%;
}
.card .card-content .card-title {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 1.2em;
}
.card .card-content .card-text {
    /* position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%); */
    color: #AAA;
    font-size: 0.85em;
}
.card .card-content .card-more {
    /* position: absolute;
    right: 10%;
    bottom: 5%; */
    text-decoration: none;

    font-size: 0.9em;
    color: #fff;
    font-weight: bold;
}
.card .card-content .card-more:hover {
    color: #fff;
    box-shadow: 0 8px 25px -8px #000;
}
.card:hover {
    -webkit-transform: translate(0, -2%);
    -moz-transform: translate(0, -2%);
    transform: translate(0, -2%);
}

.prateleira-maternite{
    padding: 40px 0;
}
.prateleira-maternite .produtos-maternite .j-shelf ul{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
/* Modal */

.content-button-close {
    padding: 13px 30px;
    background: white;
    color: #C34E62;
    border-radius: 60px;
    border: 2px solid #C34E62;
    cursor: pointer;
    font-size: 0.7em;
    display: block;
    text-transform: uppercase;
    transition: all 0.2s;
    text-align: center;
    width: 200px;
    margin: 60px auto 0 auto;
}
  
.btn-modal:hover,
.content-button-close:hover {
    background: #C34E62;
    color: white;
}
.close {
    position: absolute;
    top: -7px;
    right: -4px;
    width: 30px;
    height: 30px;
    background: #fff;
    font-weight: 900;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 50px;
    -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}
.elegant-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 20px;
    /* height: 450px; */
    margin-left: -300px;
    margin-top: -240px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
}
.active {
    visibility: visible;
    opacity: 1;
    transition: all .2s;
}
.active + .elegant-modal {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.products-list .titulo-product h2,
.prateleira-maternite .wrapper h2{
    text-align: center;
}
@media (max-width: 1500px){
    .first .wrapper, 
    .vitrine-produtos-lp .wrapper,
    .video_info{
        padding: 0 2em;
    }
}
@media only screen and (max-width: 1400px){
    .wrapper,
    .first .wrapper, .second .wrapper{
        padding: 0 2em;
    }
    .tabs-section .wrapper{
        padding: 0;
    }
    .txtTab{
        width: 48%;
    }
    .products-list .titulo-product h2,
    .prateleira-maternite .wrapper h2{
        text-align: center;
    }
}
@media only screen and (max-width: 1300px){
    .imgTab{
        width: 50%;
    }
    .txtTab{
        width: 47%;
        padding: 10px;
        padding-left: 3em;
    }
}
@media (max-width: 500px){
    .j-header{
        box-shadow: 0px 2px 9px #ccc;
    }
    .first, .second, .text-marquee, .tabs-section, .products-list{
        margin: 1em 0;
    }
    .first{
        margin-bottom: 2em;
    }
    .first .wrapper{
        flex-flow: column;
        padding: 0 1em;
    }
    .right.call-txt p{
        font-size: 42px;
        line-height: 40px;
    }
    .prop {
        max-height: 160px;
    }
    .btn_more{
        font-size: 16px;
        padding: 15px 45px;
        display: flex;
    }
    .right{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .right .btn_more{    
        max-width: 225px;
        margin: auto;
        margin-top: 20px;
    }
    .call-img .first {
        margin-left: 1.5em;
    }
    .video_info .wrapper{
        flex-flow: column;
        border-radius: 0px 80px 0px 80px;
        padding: 35px 15px;
    }
    .video_info .txt_video {
        width: 100%;
        margin-right: 0px;
    }
    .video_info .content_video {
        width: 100%;
    }
    .video_info .txt_video h2{
        font-size: 21px;
        margin-bottom: .8em;
        text-align: center;
    }
    .txt_video p{
        font-size: 15px;
        text-align: center;
        margin-bottom: 1em;
    }
    .video_info .content_video iframe {
        border-radius: 0px;
        max-height: 210px;
    }
    .tabs{
        flex-flow: column;
    }
    .tabs .tab{
        flex-flow: column;
    }
    .imgTab {
        width: 100%;
    }
    .txtTab {
        width: 100%;
        padding: 10px 25px;
    }
    .tabs-container {
        padding: 2rem 1em;
    }
    .vitrine-produtos-lp h2{
        font-size: 25px;
        margin-bottom: 0em;
    }
    .vitrine-produtos-lp .left-column {
        display: none;
    }
    .grid-2-columns .right-column {
        max-width: 100%;
    }
    .j-shelf .slick-list {
        margin-left: 0;
    }
    .j-shelf .slick-dots{
        justify-content: center;
    }
    .j-shelf .slick-dots li button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .j-shelf .slick-dots li {
        padding: 0 10px;
    }
    .vitrine-produtos-lp .j-shelf__item-name{
        margin-bottom: 0;
    }
    .j-shelf>ul li{
        margin: 0;
    }
}