.lp-vitamina-c .wrapper .grid-2-columns{
    display: flex;
    align-items: center;
    margin: 4em auto;
    max-width: 1600px;
    justify-content: space-between;
}
.lp-vitamina-c .wrapper .grid-2-columns .right-column h2,
.lp-vitamina-c .wrapper .grid-2-columns .left-column h2 {
    font-size: 45px;
    color: #FB8002;
    max-width: 414px;
}
.lp-vitamina-c .wrapper .grid-2-columns .right-column h3 {
    font-weight: 400;
    max-width: 490px;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 22px;
}
.lp-vitamina-c .wrapper .grid-2-columns .right-column .itens-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2em 0;
}
.lp-vitamina-c .wrapper .grid-2-columns .right-column .itens-list ul li {
    max-width: 400px;
    color: #000;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.lp-vitamina-c .wrapper .grid-2-columns .right-column .itens-list ul li:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='32' viewBox='0 0 42 32' fill='none' style='&%2310;'%3E%3Cpath d='M1 11C1 16.3043 3.10714 21.3914 6.85786 25.1421C10.6086 28.8929 15.6957 31 21 31C26.3043 31 31.3914 28.8929 35.1421 25.1421C38.8929 21.3914 41 16.3043 41 11' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' style='&%2310; stroke: %23FB8002;&%2310;'/%3E%3Cpath d='M1 11C3.62644 11 6.22716 11.5173 8.65367 12.5224C11.0802 13.5275 13.285 15.0007 15.1421 16.8579C16.9993 18.715 18.4725 20.9198 19.4776 23.3463C20.4827 25.7728 21 28.3736 21 31M21 31C21 25.6957 23.1071 20.6086 26.8579 16.8579C30.6086 13.1071 35.6957 11 41 11L21 31Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' style='&%2310; stroke: %23FB8002;&%2310;'/%3E%3Cpath d='M15.02 16C14.881 13.217 15.3432 10.4366 16.3751 7.84824C17.407 5.25984 18.9844 2.92411 21 1M21 1C23.0155 2.92411 24.5929 5.25984 25.6249 7.84824C26.6568 10.4366 27.119 13.217 26.98 16L21 1Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' style='&%2310; stroke: %23FB8002;&%2310;'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 49px;
    height: 27px;
    margin-right: 1em;
}
.cta a{
    max-width: 320px;
    background: #FB8002;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.lp-vitamina-c .wrapper .grid-video-cta {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #FB8002;
    padding: 5em 10em;
    border-radius: 155px 155px 0;
}
.lp-vitamina-c .wrapper .grid-video-cta h2 {
    font-size: 30px;
    color: #FB8002;
    margin-bottom: 1em;
}
.lp-vitamina-c .wrapper .grid-video-cta p {
    margin-bottom: 2em;
    font-size: 22px;
    max-width: 500px;
}
.lp-vitamina-c .wrapper > h2{
    text-align: center;
    margin: 0 auto;
    margin-top: 2em;
    font-size: 33px;
    color: #FB8002;
    max-width: 500px;
}
.lp-vitamina-c .wrapper .grid-2-columns .right-column > p,
.lp-vitamina-c .wrapper .grid-2-columns .left-column > p {
    max-width: 835px;
    font-size: 23px;
    margin: 2em 0;
}
.lp-vitamina-c .wrapper .grid-2-columns .right-column .j-shelf {
    max-width: 1200px;
}
.lp-vitamina-c .wrapper .grid-2-columns .right-column .j-shelf__item {
    max-height: 500px;
}
.lp-vitamina-c .vitrine-produtos-lp .wrapper .grid-2-columns .left-column {
    width: 30%;
}
.lp-vitamina-c .vitrine-produtos-lp .wrapper .grid-2-columns .right-column {
    width: 65%;
    margin-left: 1em;
}
.lp-vitamina-c .vitrine-produtos-lp .wrapper .grid-2-columns .right-column ul li .j-shelf__item .j-shelf__item-content .j-shelf__item--bottom .j-shelf__item--price .j-shelf__item-new-price {
    color: #fb8002;
}
.lp-vitamina-c .vitrine-produtos-lp .wrapper .grid-2-columns .right-column ul li .j-shelf__item .j-shelf__item-content .j-shelf__item--bottom .j-shelf__item--price .j-shelf__item-installment,
.lp-vitamina-c .vitrine-produtos-lp .wrapper .grid-2-columns .right-column ul li .j-shelf__item .j-shelf__item-content .j-shelf__item--bottom .j-shelf__item--price .j-shelf__item-old-price {
    display: none;
}
.j-shelf .slick-dots {
    justify-content: left;
    align-items: center;
}
.j-shelf .slick-dots li{
    padding: 0;
}
.j-shelf .slick-dots li.slick-active button {
    border: none;
    background: #fb8002;
}
.j-shelf .slick-dots li button {
    border: none;
    width: 90px;
    height: 5px;
    border-radius: 0;
    background-color: #D9D9D9;
}
.j-shelf .slick-arrow{
    position: relative;
    top: initial;
    border: none;
    transform: none;
    width: 52px;
    height: 30px;
    cursor: pointer;
}
.j-shelf .slick-prev{
    margin-right: 10px;
}
.custom-arrow{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.j-shelf .slick-prev:before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='40' viewBox='0 0 62 40' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M62 20C62 19.4107 61.7667 18.8456 61.3515 18.4289C60.9363 18.0122 60.3731 17.7781 59.7859 17.7781H7.56305L21.4989 3.79783C21.7047 3.59125 21.868 3.346 21.9794 3.07608C22.0909 2.80617 22.1482 2.51687 22.1482 2.22472C22.1482 1.93256 22.0909 1.64327 21.9794 1.37335C21.868 1.10344 21.7047 0.858188 21.4989 0.651604C21.293 0.44502 21.0486 0.281149 20.7796 0.169347C20.5107 0.0575442 20.2224 0 19.9313 0C19.6401 0 19.3518 0.0575442 19.0829 0.169347C18.8139 0.281149 18.5695 0.44502 18.3636 0.651604L0.650488 18.4269C0.444293 18.6333 0.280699 18.8785 0.169078 19.1484C0.0574562 19.4184 0 19.7077 0 20C0 20.2923 0.0574562 20.5816 0.169078 20.8516C0.280699 21.1215 0.444293 21.3667 0.650488 21.5731L18.3636 39.3484C18.5695 39.555 18.8139 39.7189 19.0829 39.8307C19.3518 39.9425 19.6401 40 19.9313 40C20.2224 40 20.5107 39.9425 20.7796 39.8307C21.0486 39.7189 21.293 39.555 21.4989 39.3484C21.7047 39.1418 21.868 38.8966 21.9794 38.6266C22.0909 38.3567 22.1482 38.0674 22.1482 37.7753C22.1482 37.4831 22.0909 37.1938 21.9794 36.9239C21.868 36.654 21.7047 36.4088 21.4989 36.2022L7.56305 22.2219H59.7859C60.3731 22.2219 60.9363 21.9878 61.3515 21.5711C61.7667 21.1544 62 20.5893 62 20Z' fill='%23FB8002'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 52px;
    height: 30px;
}
.j-shelf .slick-next:before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='40' viewBox='0 0 62 40' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-3.8147e-06 20C-3.8147e-06 20.5893 0.233273 21.1544 0.648502 21.5711C1.06374 21.9878 1.62691 22.2219 2.21414 22.2219L54.437 22.2219L40.5011 36.2022C40.2953 36.4088 40.132 36.654 40.0206 36.9239C39.9091 37.1938 39.8518 37.4831 39.8518 37.7753C39.8518 38.0674 39.9091 38.3567 40.0206 38.6266C40.132 38.8966 40.2953 39.1418 40.5011 39.3484C40.707 39.555 40.9514 39.7189 41.2204 39.8307C41.4893 39.9425 41.7776 40 42.0687 40C42.3599 40 42.6482 39.9425 42.9171 39.8307C43.1861 39.7189 43.4305 39.555 43.6364 39.3484L61.3495 21.5731C61.5557 21.3667 61.7193 21.1215 61.8309 20.8516C61.9425 20.5816 62 20.2923 62 20C62 19.7077 61.9425 19.4184 61.8309 19.1484C61.7193 18.8785 61.5557 18.6333 61.3495 18.4269L43.6364 0.651604C43.4305 0.445019 43.1861 0.281147 42.9171 0.169346C42.6482 0.0575409 42.3599 0 42.0687 0C41.7776 0 41.4893 0.0575409 41.2204 0.169346C40.9514 0.281147 40.707 0.445019 40.5011 0.651604C40.2953 0.858189 40.132 1.10344 40.0206 1.37335C39.9091 1.64327 39.8518 1.93256 39.8518 2.22472C39.8518 2.51687 39.9091 2.80616 40.0206 3.07608C40.132 3.34599 40.2953 3.59124 40.5011 3.79783L54.437 17.7781L2.21414 17.7781C1.62691 17.7781 1.06374 18.0122 0.648502 18.4289C0.233273 18.8456 -3.8147e-06 19.4107 -3.8147e-06 20Z' fill='%23FB8002'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 52px;
    height: 30px;
}
.j-shelf .slick-list {
    margin-left: -1.3em;
}
@media (max-width: 1500px){
    .wrapper{
        padding: 0 4em;
    }
    .lp-vitamina-c .wrapper .grid-2-columns .right-column h2, .lp-vitamina-c .wrapper .grid-2-columns .left-column h2{
        font-size: 35px;
        max-width: 330px;
    }
    .lp-vitamina-c .wrapper .grid-2-columns .right-column h3{
        max-width: 430px;
        font-size: 18px;
    }
    .session-15-de-concentracao .left-column{
        margin-right: 2em;
        max-width: 35%;
    }
    .session-15-de-concentracao .right-column{
        margin-right: 2em;
        max-width: 55%;
    }
    .lp-vitamina-c .wrapper .grid-2-columns .right-column .itens-list ul li{
        font-size: 15px;
    }
    .cta a{
        max-width: 290px;
        font-size: 15px
    }
    .lp-vitamina-c .wrapper .grid-video-cta h2{
        font-size: 25px;
        margin-bottom: 1em
    }
    .lp-vitamina-c .wrapper .grid-video-cta p{
        font-size: 18px;
    }
    .video-wrapper iframe {
        max-width: 450px;
        max-height: 255px;
    }
    .lp-vitamina-c .wrapper > h2{
        font-size: 25px;
    }
    .text-cta-left .left-column{
        margin-right: 2em;
        max-width: 35%;
    }
    .text-cta-left .right-column{
        margin-right: 2em;
        max-width: 55%;
    }
    .text-cta-right .left-column{
        margin-right: 2em;
        max-width: 55%;
    }
    .text-cta-right .right-column{
        margin-right: 2em;
        max-width: 35%;
    }
    .lp-vitamina-c .wrapper .grid-2-columns .right-column > p, .lp-vitamina-c .wrapper .grid-2-columns .left-column > p{
        font-size: 18px;
    }
}
@media (max-width: 1400px){
    .lp-vitamina-c .wrapper .grid-video-cta p{
        max-width: 380px;
    }
}
@media (max-width: 1300px){
    .lp-vitamina-c .wrapper .grid-video-cta p{
        max-width: 325px;
    }
}
@media (max-width: 500px){
    body main{
        padding: 0;
    }
    .j-header{
        box-shadow: 1px 3px 8px #ccc;
    }
    .wrapper{
        width: 100%;
        padding: 0 1em;
    }
    .lp-vitamina-c .wrapper .grid-2-columns{
        flex-flow: column;
    }
    .session-15-de-concentracao .left-column,
    .session-15-de-concentracao .right-column{
        max-width: 100%;
        margin: 0;
    }
    .lp-vitamina-c .wrapper .grid-2-columns .right-column .itens-list ul{
        display: block;
        margin-bottom: 0;
    }
    .lp-vitamina-c .wrapper .grid-2-columns .right-column .itens-list ul.slick-dots li:before {
        display: none;
    }
    .lp-vitamina-c .wrapper .grid-2-columns .right-column > h2, 
    .lp-vitamina-c .wrapper .grid-2-columns .left-column > h2{
        text-align: center;
        margin: auto;
        margin-top: 1em;
    }
    .lp-vitamina-c .wrapper .grid-2-columns .right-column h3{
        text-align: center;
    }
    .lp-vitamina-c .wrapper .grid-2-columns .right-column .itens-list ul li{
        justify-content: center;
    }
    .lp-vitamina-c .wrapper .grid-2-columns .right-column .itens-list ul.slick-dots{
        margin: 0;
    }
    .cta a{
        margin: auto;
    }
    .slick-dots li button{
        border: none;
        background: #D9D9D9;
    }
    .slick-dots li.slick-active button{
        background: #FB8002;
    }
    .lp-vitamina-c .wrapper .grid-video-cta{
        padding: 3em;
        flex-flow: column;
        border-radius: 100px 100px 0;
        border: 2px solid rgba(251, 128, 2, 0.2);
    }
    .video-wrapper iframe {
        max-width: 240px;
        max-height: 135px;
        margin-bottom: 3em;
    }
    .text-cta{
        text-align: center;
    }
    .lp-vitamina-c .wrapper .grid-video-cta p{
        font-size: 14px;
    }
    .lp-vitamina-c .wrapper .grid-video-cta h2{
        font-size: 20px;
    }
    .text-cta-left .left-column,
    .text-cta-left .right-column{
        margin-right: 0em;
        max-width: 100%;
    }
    .lp-vitamina-c .wrapper .grid-2-columns .right-column > p,
    .lp-vitamina-c .wrapper .grid-2-columns .left-column > p{
        text-align: center;
    }
    .text-cta-right .left-column,
    .text-cta-right .right-column {
        margin-right: 0;
        max-width: 100%;
    }
    .text-cta-right .left-column{
        order: 2;
    }
    .text-cta-right .right-column{
        order: 1;
    }
    .lp-vitamina-c .vitrine-produtos-lp .wrapper .grid-2-columns .right-column{
        width: 100%;
    }
    .j-shelf .slick-dots li button{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 16px 1.5%;
    }
    .j-shelf .slick-dots {
        justify-content: center;
        align-items: center;
    }
    .j-shelf .slick-dots li {
        padding: 0 10px;
    }
}