/* MINI CART */
.minicart__overlay {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: none;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 9999999;
 }
 .minicart__overlay.open {
    display: block;
 }
 .header-minicart-actions,
 .header-minicart-navigation {
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
 }
 
 .header-minicart {
    background: #fff;
    bottom: 0;
    box-shadow: 0px 0px 9px #c7c7c7;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    right: -100px;
    top: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 999999999;
    max-width: 500px;
    padding: 0 2em;
 }
 .header-minicart-header {
    display: block;
    padding-left: 0;
    padding-right: 0;
    height: 4.75rem;
 }
 .header-minicart-header .minicart__header-links{
    height: 76px;
    height: 4.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .header-minicart-close,
 .header-minicart-close i {
    display: flex;
 }
 .header-minicart-itens {
     font-weight: 400;
     margin: 0 !important;
     margin-left: 5px !important;
 }
 .header-minicart-close {
    outline: 0;
    border: 0;
    height: 3.75rem;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 1.125rem;
    background: #fff;
    cursor: pointer;
    margin-left: 0;
 }
 .header-minicart-close:before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-color: #888;
    margin-right: 12px;
    margin-right: .75rem;
 
 }
 .header-minicart_topo{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #000;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: 0;
    width: 100%;
 }
 .header-minicart_topo:before {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: #dedede;
    margin-right: 15px;
    margin-right: .9375rem;
 }
 .header-minicart-title {
    display: flex;
    float: left;
    line-height: 20px;
    margin-top: 0px;
    font-size: 13px;
    text-transform: uppercase;
 }
 .header-minicart-badge {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    margin: 0 !important;
    margin-left: 5px !important;
 }
 .header-minicart-navigation {
    flex-direction: column;
    height: calc(100% - 485px);
    justify-content: space-between;
    overflow-y: auto;
    padding: 1rem 0;
    width: 100%;
 }
 .header-minicart-navigation::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f2f2f2;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
 }
 .header-minicart-navigation::-webkit-scrollbar {
    width: 6px;
    background-color: #f2f2f2;
 }
 .header-minicart-navigation::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #d9d9d9;
    background-color: #f2f2f2;
 }
 .header-minicart-navigation .portal-totalizers-ref {
    display: none;
 }
 .header-minicart-list .list-prod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-bottom: none;
 }
 .header-minicart-list .list-prod-image {
    min-width: 90px;
    padding: 5 0px;
 }
 .header-minicart-list .list-prod-image a {
    display: block;
 }
 .header-minicart-list .list-prod-image a img {
    display: block;
    margin: 0 auto;
    width: 65%;
 }
 .header-minicart-list .list-prod-info {
    padding: 5px;
    width: 100%;
 }
 .header-minicart-list .list-prod-name {
    margin-bottom: 5px;
    width: 100%;;
    /* width: calc(100% - 30px); */
 }
 .header-minicart-list .list-prod-name a {
    display: block;
    text-decoration: none;
 }
 .header-minicart-list .list-prod-name a h4 {
    color: #000;
    font-size: 13px;
    margin: 0;
    line-height: 16px;
    font-weight: 400;
 }
 .header-minicart-list .list-prod-price {
    display: flex;
 }
 .header-minicart-list .list-prod-qtd {
    width: 160px;
    height: 44px;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    margin-left: 0;
    margin: 0;
    margin-top: 8px;
    border-radius: 0px;
 }
 .header-minicart-list .list-prod-qtd p {
    align-items: center;
    color: #000;
    display: flex;
    justify-content: center;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    font-size: 18px;
 }
 .header-minicart-list .list-prod-qtd p.qtd-adiciona,
 .header-minicart-list .list-prod-qtd p.qtd-remove {
    cursor: pointer;
    font-size: 22px;
    color: #000;
    font-weight: 500;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0;
 }
 .header-minicart-list .list-prod-total {
    /* align-items: flex-start;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start; */
    width: 100%;
    margin-top: 10px;
 }
 .header-minicart-list .list-prod-total p {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    text-align: left;
    padding: 0 10px 0 0;
    display: block;
    text-align: center;
 }
 .header-minicart-list .list-prod-total p:first-of-type {
    font-size: 12px;
    color: #000;
    font-weight: 300;
    text-decoration: line-through;
 }
 .header-minicart-list .list-prod-remove {
   cursor: pointer;
   display: flex;
   justify-content: center;
   position: absolute;
   right: 0;
 }
 
 .header-minicart-list .list-prod-remove:before {
   content: "";
   color: #000;
   font-size: 15px;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cg transform='translate(128 128) scale(0.72 0.72)' style=''%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(-175.05 -175.05000000000004) scale(3.89 3.89)'%3E%3Cpath d='M 76.777 2.881 H 57.333 V 2.412 C 57.333 1.08 56.253 0 54.921 0 H 35.079 c -1.332 0 -2.412 1.08 -2.412 2.412 v 0.469 H 13.223 c -1.332 0 -2.412 1.08 -2.412 2.412 v 9.526 c 0 1.332 1.08 2.412 2.412 2.412 h 63.554 c 1.332 0 2.412 -1.08 2.412 -2.412 V 5.293 C 79.189 3.961 78.109 2.881 76.777 2.881 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3Cpath d='M 73.153 22.119 H 16.847 c -1.332 0 -2.412 1.08 -2.412 2.412 v 63.057 c 0 1.332 1.08 2.412 2.412 2.412 h 56.306 c 1.332 0 2.412 -1.08 2.412 -2.412 V 24.531 C 75.565 23.199 74.485 22.119 73.153 22.119 z M 33.543 81.32 c 0 1.332 -1.08 2.412 -2.412 2.412 h -2.245 c -1.332 0 -2.412 -1.08 -2.412 -2.412 V 30.799 c 0 -1.332 1.08 -2.412 2.412 -2.412 h 2.245 c 1.332 0 2.412 1.08 2.412 2.412 V 81.32 z M 48.535 81.32 c 0 1.332 -1.08 2.412 -2.412 2.412 h -2.245 c -1.332 0 -2.412 -1.08 -2.412 -2.412 V 30.799 c 0 -1.332 1.08 -2.412 2.412 -2.412 h 2.245 c 1.332 0 2.412 1.08 2.412 2.412 V 81.32 z M 63.526 81.32 c 0 1.332 -1.08 2.412 -2.412 2.412 h -2.245 c -1.332 0 -2.412 -1.08 -2.412 -2.412 V 30.799 c 0 -1.332 1.08 -2.412 2.412 -2.412 h 2.245 c 1.332 0 2.412 1.08 2.412 2.412 V 81.32 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
   background-repeat: no-repeat;
   width: 20px;
   height: 20px;
   display: block;
   background-size: contain;
 }

 .header-minicart-empty {
    text-align: center;
 }
 .header-minicart-empty p {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin: 70px 0 20px;
 }
 .header-minicart-empty button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    max-width: 250px;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 0;
    border-radius: 0;
 }
 .header-minicart-footer {
    background: #fff;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    padding: 25px 0;
    box-shadow: none;
    border-top: 1px solid #ccc;
 }
 .header-minicart-subtotal {
    align-items: center;
    color: #000000;
    display: flex;
    font-size: 13px;
    font-weight: 400;
    justify-content: space-between;
    line-height: 20px;
    width: 100%;
    margin: 10px auto;
    margin-top: 0;
    letter-spacing: 0;
 }
 .header-minicart-subtotal span {
    color: #000;
    font-size: 18px;
    font-weight: 800;
    margin-right: 0;
 }
 .header-minicart-actions {
    display: flex;
    flex-direction: column;
 }
 .header-minicart-actions .goToCart {
    align-items: center;
    background: #000;
    color: #fff;
    display: flex;
    font-size: 13px;
    justify-content: center;
    min-height: 40px;
    height: 40px;
    text-transform: none;
    text-decoration: none;
    width: 100%;
    font-weight: 400;
    margin: 0 auto;
    border-radius: 0;
    letter-spacing: 2px;
 }
 p.header-minicart-total {
    align-items: center;
    color: #000000;
    display: flex;
    font-size: 13px;
    font-weight: 400;
    justify-content: space-between;
    line-height: 20px;
    width: 100%;
    margin: 10px auto;
    letter-spacing: 0;
 }
 p.header-minicart-total span.header-minicart-value {
    font-size: 16px;
 }
 span.header-minicart-value {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    margin-right: 0;
 }
 .header-minicart-actions .goToCart:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='36' viewBox='0 0 28 36' fill='none'%3E%3Cpath d='M27.9916 30.9926L25.979 7.90128C25.9371 7.41361 25.5346 7.04572 25.0566 7.04572H20.8805C20.847 3.19575 17.7694 0.081543 13.9958 0.081543C10.2222 0.081543 7.14465 3.19575 7.11111 7.04572H2.93501C2.45702 7.04572 2.05451 7.42217 2.01258 7.90128L0 30.9926C0 31.0183 0 31.0439 0 31.0781C0 33.679 2.33962 35.8008 5.22432 35.8008H22.7757C25.652 35.8008 28 33.6876 28 31.0781C28 31.0439 28 31.0183 27.9916 30.9926ZM14.0042 1.96375C16.7631 1.96375 19.0105 4.23952 19.044 7.04572H8.95598C8.98952 4.23952 11.2369 1.96375 14.0042 1.96375ZM22.7757 33.91H5.22432C3.37946 33.91 1.87002 32.6609 1.84486 31.1124L3.77358 8.92794H7.10273V11.9737C7.10273 12.4956 7.51363 12.9148 8.02516 12.9148C8.53669 12.9148 8.94759 12.4956 8.94759 11.9737V8.92794H19.0356V11.9737C19.0356 12.4956 19.4465 12.9148 19.9581 12.9148C20.4696 12.9148 20.8805 12.4956 20.8805 11.9737V8.92794H24.2096L26.1384 31.1124C26.13 32.6609 24.6205 33.91 22.7757 33.91Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 25px;
    height: 25px;
    display: none;
 }
 .freteValores p, .discountValores p {
    font-size: 13px;
 }
 .header-minicart-actions .continueToBuy {
    align-items: center;
    background: transparent;
    color: #000;
    display: flex;
    font-size: 13px;
    justify-content: center;
    min-height: 40px;
    height: 40px;
    text-transform: none;
    text-decoration: none;
    width: 100%;
    font-weight: 400;
    margin: 0 auto;
    border-radius: 0;
    letter-spacing: 2px;
    border: 1px solid #000;
    transition: .3s all ease;
    margin-top: 5px;
    cursor: pointer;
 }
 .header-minicart-actions .continueToBuy:hover{
    color: #fff;
    background: #000;
 }
 .header-minicart.open {
    right: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1)
 }
 .frete-gratis-minicart {
    display: flex;
    margin-bottom: 30px;
    position: relative;
    align-items: center;
 }
 .free-shipping-bar p span {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    color: #000000;
 }
 .color-bar {
    order: 1;
    position: relative;
    margin: 0;
    height: 14px;
    background: #D9A4A4;
    border-radius: 15px;
    transition: .3s all ease;
 }
 .color-bar:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='28' viewBox='0 0 29 28' fill='none'%3E%3Cpath d='M28.8175 11.1236L21.9841 17.8938L23.5977 27.4551C23.6122 27.5412 23.6023 27.6297 23.5691 27.7105C23.5359 27.7913 23.4807 27.8612 23.4098 27.9122C23.3389 27.9632 23.2551 27.9932 23.1679 27.999C23.0808 28.0047 22.9937 27.9859 22.9167 27.9447L14.4779 23.4352L6.03871 27.9447C5.96171 27.9858 5.87474 28.0045 5.78765 27.9987C5.70056 27.9929 5.61684 27.9628 5.54599 27.9118C5.47514 27.8609 5.41999 27.7911 5.3868 27.7103C5.3536 27.6296 5.3437 27.5412 5.3582 27.4551L6.97159 17.8938L0.138476 11.1236C0.0768187 11.0625 0.0333803 10.9855 0.0130303 10.9012C-0.00731978 10.8169 -0.00377698 10.7285 0.0232614 10.6461C0.0502998 10.5637 0.099765 10.4904 0.166111 10.4345C0.232458 10.3786 0.313063 10.3423 0.39889 10.3296L9.83587 8.93587L14.0578 0.241141C14.1006 0.167757 14.162 0.106879 14.2357 0.0645711C14.3094 0.0222627 14.3929 0 14.4778 0C14.5628 0 14.6463 0.0222627 14.72 0.0645711C14.7937 0.106879 14.855 0.167757 14.8979 0.241141L19.1201 8.93587L28.5573 10.3297C28.6432 10.3423 28.7238 10.3786 28.7901 10.4345C28.8565 10.4904 28.9059 10.5637 28.933 10.6461C28.96 10.7286 28.9635 10.8169 28.9432 10.9012C28.9228 10.9856 28.8794 11.0626 28.8178 11.1236L28.8175 11.1236Z' fill='%23E5006D'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -10px;
    top: -10px;
    display: block;
    width: 30px;
    height: 30px;
 }
 .free-shipping-bar {
    order: 2;
    max-width: 128px;
 }
 
 .free-shipping-bar p {
    font-size: 12px;
 }
 span.valor-moeda {
    font-weight: 700;
 }
 .empty-bar {
    width: 50%;
    margin: 0;
    height: 15px;
    border: 1px solid #D9A4A4;
    border-radius: 10px;
    margin-left: 40px;
    position: relative;
 }
 .calcInput-wrapper {
    width: 74%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
 }
 
 input#calculaShip, .action-calc {
    margin: 0;
    padding: 5px;
 }
 
 .header-minicart-shipping:before {
    content: "Calcule o frete";
    font-size: 13px;
    margin: 0;
    margin-right: 30px;
    text-align: left;
    width: 19%;
 }
 
 button.action-calc {
    margin: auto;
    margin-right: 0;
    cursor: pointer;
    background: #000;
    border: none;
    padding: 10px;
    color: #fff;
 }
 
 input#calculaShip {
    width: 100%;
    border: 1px solid #000;
 }
 
 .freteValores {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 13px;
 }
 
 .header-minicart-shipping {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
 }
 
 .header-minicart-coupon {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
 }
 
 .header-minicart-coupon:before {
    content: "Cupom de Desconto";
    font-size: 13px;
    margin: 0;
    margin-right: 30px;
    text-align: left;
    width: 19%;
 }
 
 .couponInput-wrapper {
    width: 74%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
 }
 
 input#calculaCupom {
    width: 100%;
    border: 1px solid #000;
 }
 
 button.action-coupon {
    margin: auto;
    margin-right: 0;
    cursor: pointer;
    background: #000;
    border: none;
    padding: 10px;
    color: #fff;
 }
 
 button#removeCupom {
    margin: auto;
    margin-right: 0;
    margin-left: 0;
    min-width: 41px;
    cursor: pointer;
    background: #000;
    border: none;
    padding: 10px;
    color: #fff;
 }
 
 input#calculaCupom, .action-coupon {
    margin: 0;
    padding: 5px;
 }
 
 .discountValores {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 13px;
 }
 
 .totalDiscount-value:before {
    content: "-";
 }
 @media (max-width: 500px){
    .header-minicart {
       max-width: 100%;
   }
   .header-minicart-list .list-prod-qtd{
       width: 100%;
   }
   .header-minicart_topo:before {
       width: 140px;
   }
   .header-minicart-shipping{
      flex-wrap: nowrap;
   }
   .header-minicart-coupon{
      flex-wrap: nowrap;
   }
   .header-minicart-list .list-prod-image{
      max-width: 90px;
   }
   .header-minicart_topo:before {
      width: 100%;
   }
 }
 /* MINI CART */