p {
    margin: 10px 0;
}

h2 {
    position: relative;
    z-index: 99;
    background-color: #FFF;
    padding-right: 20px;
}

h1,
h2,
h3 {
    margin: 30px 0;
    font-size: 26px;
    font-weight: 700;
}

main{
    padding: 5% 0;
}

.minha-troca{
    .j-title, .j-shelf__title{
        display: none !important;
    }
}