<div class="header-wrapper">
    <div class="burger-menu hide">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="logo">
        <a href="/"><img src="../images/supersoco.png"></a>
    </div>
    <div class="menu-desk-wrapper">
        <ul class="menu-desk">
            <a href="/#modelos" class="menu-item">Modelos</a>
            <a href="/#video" class="menu-item">Video</a>
            <a href="/#testRide" class="menu-item">Test-Ride</a>
            <a href="/#quemSomos" class="menu-item">Quem Somos</a>
            <a href="/onde-comprar" class="menu-item">Onde Comprar</a>
            <a href="/#contato" class="menu-item">Contato</a>
        </ul>
    </div>
    <div class="menu-mobile-wrapper hide">
        <ul class="menu-mobile">
            <a href="/#modelos" class="menu-item">Modelos</a>
            <a href="/#video" class="menu-item">Video</a>
            <a href="/#testRide" class="menu-item">Test-Ride</a>
            <a href="/#quemSomos" class="menu-item">Quem Somos</a>
            <a href="/onde-comprar" class="menu-item">Onde Comprar</a>
            <a href="/#contato" class="menu-item">Contato</a>
        </ul>
    </div>
</div>