<div style="display:none" class="ext-modal jn-info">
	<div class="wrap-modal">
		<div class="inner-modal">
			<div class="dialog">
				<a class="hide-modal link-close"></a>
				<h2>Assinatura Forfitbox</h2>
				<ul>
					<li>Você pode escolher vários tipos dos seus produtos preferidos em um mesmo pedido;</li>
					<li>Você tem a comodidade de receber em casa na todo mês ou a cada 2 mêses;</li>
					<li>Pause ou cancele a sua assinatura quando quiser no próprio painel de acesso;</li>
					<li>Sem taxa de adesão ou de cancelamento.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div style="display:none" class="ext-modal jn-cart">
	<div class="wrap-modal">
		<div class="inner-modal">
			<div class="dialog">
				<a class="remove-modal link-close"></a>
				<div class="warning-subscription">Adicionado com sucesso</div>
				<div class="title-subscription">Sua assinatura</div>
				<div class="items-subscription"></div>
				<div style="display:none" class="restante-subscription">
                    <div class="c-row">
                    	<h5>Valor mínimo <span class="value"></span></h5>
                        <div class="barra"></div>
                        <span class="total-order"></span>
                    	<span class="total-minimo"></span>
                   		<div class="restante">Restam apenas <span class="value"></span> para a sua assinatura</div>
                   	</div>
                </div>
				<div class="action-subscription"><a class="cart-subscription disable">Avançar para o carrinho</a><a class="remove-modal">Escolher mais produtos</a></div>
			</div>
		</div>
	</div>
</div>