footer 
    section.footer_newsletter
        div.wrapper
            div.newsletter-content
                h3.newsletter-titulo Novidades e descontos especiais
                p.newsletter-subtitle Descubra com a gente uma vida nova, saudável, cheia de sabor e descont!
                div.newsletter-form
                    input.newsletter.nome#txt(placeholder="Nome")/
                    input.newsletter.email#txt(placeholder="E-mail")/
                    button.envia-newsletter.btn.btn-enviar#go CADASTRAR 
                    
    section.footer_container
        div.wrapper               
            div.footer-box.institucional 
                h3.footer-title Institucionais
                ul.footer-list 
                    li.footer-item 
                        a(href=`/institucional/sobre`) Sobre Compre Diet Light
                    li.footer-item 
                        a(href=`/receitas`) Receitas
            div.footer-box.ajuda
                h3.footer-title Minha Conta
                ul.footer-list 
                    li.footer-item 
                        a(href=`/_secure/account/#/orders`) Meus pedidos
                    li.footer-item 
                        a(href=`/_secure/account`) Meus dados
            div.footer-box.mais
                h3.footer-title Dúvidas 
                ul.footer-list
                    li.footer-item 
                        a(href=`/institucional/perguntas-frequentes`) Perguntas frequêntes
                    li.footer-item 
                        a(href=`/institucional/termos-e-condicoes`) Termos e condições
                    li.footer-item 
                        a(href=`/institucional/fale-conosco`) Fale conosco
            div.footer-box.parcerias
                h3.footer-title Políticas da Empresa
                ul.footer-list
                    li.footer-item 
                        a(href=`/institucional/politica-de-entrega`) Política de entrega
                    li.footer-item 
                        a(href=`/institucional/politica-de-privacidade`) Política de privacidade
                    li.footer-item 
                        a(href=`/institucional/politica-de-pagamento`) Política de pagamento
                    li.footer-item 
                        a(href=`/institucional/trocas-e-devolucoes`) Trocas e devoluções
                    li.footer-item 
                        a(href=`/institucional/regulamento-frete-gratis`) Regulamento Frete Grátis
            div.footer-box.contato
                h3.footer-title Contato
                ul.footer-list
                    li.footer-item 
                        a(href=`#`) (44) 99961-6046  
                    li.footer-item 
                         p atendimento@lightsweet.com.br
                    li.footer-item 
                         p Seg às Sex das 8hs as 17h30mins        
    section.footer_bottom
        div.wrapper
            div.bottom-content
                div.footer-payments
                    ul.payment-icons 
                        li
                            img(src=`/arquivos/footer-pagamentos.png`)/
                div.footer-social
                    ul.social-icon
                        li.facebook
                             a(href=`#`)  
                        li.instagram 
                             a(href=`#`) 
                        li.youtube
                            a(href=`#`) 
            div.footer-end
                ul.dev
                    li.vtex 
                        a(href=`#`) 
                    li.social
                        a(href=`https://www.socialdigitalcommerce.com.br`) 
                p <strong>LIGHTSWEET - INDUSTRIA E COMERCIO DE ALIMENTOS LTDA - CNPJ 82.015.652/0001-64 ROD BR 376, LOTE 300A REMANESCENTE, KM 188 - GLEBA RIBEIRAO SARANDI - MARIALVA/PR</strong> | Mapa do site

            