<div class="footer-wrapper">
    <div class="footer-itens-wrapper">
        <div class="footer-line">
            <div class="line-column">
                <!-- <h4>Home</h4> -->
                <ul>
                    <li><a href="/sobre-nos" class="nav-link">Sobre nós</a></li>
                    <li><a href="/sobre-nos" class="nav-link">Missão</a></li>
                    <li><a href="/sobre-nos" class="nav-link">Visão</a></li>
                    <li><a href="/sobre-nos" class="nav-link">Valores</a></li>
                    <li><a href="https://socialdigitalcommerce.solides.jobs/" rel="_nofollow" class="nav-link">Trabalhe Conosco</a></li>
                </ul>
            </div>
            <div class="line-column redes-sociais">
                <h4>Nossas redes</h4>
                <ul>
                    <li><a href="https://www.facebook.com/socialdigitalcommerce/?ref=py_c" class="nav-link"><img src="../images/assets/facebook.svg" alt="Facebook"></a></li>
                    <li><a href="https://www.instagram.com/socialdigitalcommerce/" class="nav-link"><img src="../images/assets/instagram.svg" alt="Instagram"></a></li>
                    <li><a href="https://www.youtube.com/channel/UC8DPE0JwJI0cS5Sr-at0I4Q" class="nav-link"><img src="../images/assets/youtube.svg" alt="YouTube"></a></li>
                    <li><a href="https://www.linkedin.com/company/social-digital-commerce/mycompany/" class="nav-link"><img src="../images/assets/linkedin.svg" alt="YouTube"></a></li>
                </ul>
            </div>
            <!-- <div class="line-column">
                <h4>Operações</h4>
                <ul>
                    <li><a href="/marketing" class="nav-link">Marketing</a></li>
                    <li><a href="/marketplace" class="nav-link">Marketplace</a></li>
                    <li><a href="/logistica" class="nav-link">Logística</a></li>
                    <li><a href="/tecnologia" class="nav-link">Tecnologia</a></li>
                    <li><a href="/loja-online" class="nav-link">Loja Online</a></li>
                    <li><a href="/cross-border" class="nav-link">Cross Border</a></li>
                    <li><a href="/tributario" class="nav-link">Tributário</a></li>
                    <li><a href="/sac" class="nav-link">SAC</a></li>
                </ul>
            </div>
            <div class="line-column">
                <h4>Canais de Vendas</h4>
                <ul>
                    <li><a href="/b2b" class="nav-link">B2B</a></li>
                    <li><a href="/b2c" class="nav-link">B2C</a></li>
                    <li><a href="/b2e" class="nav-link">B2E</a></li>
                    <li><a href="/omnichannel" class="nav-link">Omnichannel</a></li>
                    <li><a href="/comex-b2b" class="nav-link">Comex B2B</a></li>
                    <li><a href="/comex-b2c" class="nav-link">Comex B2C</a></li>
                </ul>
            </div>
            <div class="line-column">
                <h4>Parceiros</h4>
                <ul>
                    <li><img src="../images/assets/vtex.svg" alt="vtex"></li>
                </ul>
            </div> -->
        </div>
        <div class="footer-line">
            <div class="line-column rights">
                <p>Copyright © Social Digital Commerce - Todos os direitos reservados</p>
            </div>
            <div class="line-column lang-selector-footer">
                <ul>
                    <li><a href="#" class="nav-link"><img src="../images/assets/language-selector-pt.svg" alt="Linguagem Português Brasileiro"></a></li>
                    <li><a href="#" class="nav-link"><img src="../images/assets/language-selector-en.svg" alt="Linguagem Inglês"></a></li>
                    <li><a href="#" class="nav-link"><img src="../images/assets/language-selector-sp.svg" alt="Linguagem Espanhol"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>