<div class="carousel-item">
    <h3>Loja online</h3>
    <div class="item-cta-wrapper">
        <img src="../images/social-digital-commerce-loja-online.webp" alt="Loja online Social Digital Commerce">
        <p>Construa lojas com análises de UX e UI nas melhores plataformas de e-commerce. Garantindo a melhor experiência para o usuário.</p>
        <a href="/loja-online" id="ctaHomeSaibaMais" class="cta-home-saiba-mais">Saiba Mais</a>
    </div>
</div>
<div class="carousel-item">
    <h3>Marketplace</h3>
    <div class="item-cta-wrapper">
        <img src="../images/social-digital-commerce-marketplace.webp" alt="Marketplace Social Digital Commerce">
        <p>Venda seus produtos nos maiores Marketplaces do mercado, te auxiliamos no cadastro, gestão de pedidos e atendimento dos canais.</p>
        <a href="/marketplace" id="ctaHomeSaibaMais" class="cta-home-saiba-mais">Saiba Mais</a>
    </div>
</div>
<div class="carousel-item">
    <h3>Marketing Digital</h3>
    <div class="item-cta-wrapper">
        <img src="../images/social-digital-commerce-marketing.webp" alt="Marketing Digital Social Digital Commerce">
        <p>Aumente a escalabilidade do seu negócio com ações de maketing digital, SEO, gestão de canais e campanhas.</p>
        <a href="/marketing" id="ctaHomeSaibaMais" class="cta-home-saiba-mais">Saiba Mais</a>
    </div>
</div>
<div class="carousel-item">
    <h3>Logística</h3>
    <div class="item-cta-wrapper">
        <img src="../images/social-digital-commerce-logistica.webp" alt="Logistica, Social Digital Commerce">
        <p>Terceirize a sua operação logística, foque seus esforços nas vendas e no desenvolvimento dos seus negócios.</p>
        <a href="/logistica" id="ctaHomeSaibaMais" class="cta-home-saiba-mais">Saiba Mais</a>
    </div>
</div>
<div class="carousel-item">
    <h3>SAC Digital</h3>
    <div class="item-cta-wrapper">
        <img src="../images/social-digital-commerce-sac.webp" alt="Social Digital Commerce SAC">
        <p>O SAC é uma ferramenta utilizada na fidelização do cliente, tanto no ato da compra, como no pós venda, gerando engajamento da marca junto ao seu consumidor.</p>
        <a href="/sac" id="ctaHomeSaibaMais" class="cta-home-saiba-mais">Saiba Mais</a>
    </div>
</div>
<div class="carousel-item">
    <h3>Tecnologia</h3>
    <div class="item-cta-wrapper">
        <img src="../images/social-digital-commerce-tecnologia.webp" alt="Tecnologia Social Digital Commerce">
        <p>Soluções SAAS, plataformas omnichannel e tecnologia trabalhando para gestão.</p>
        <a href="/tecnologia" id="ctaHomeSaibaMais" class="cta-home-saiba-mais">Saiba Mais</a>
    </div>
</div>
<div class="carousel-item">
    <h3>Tributário</h3>
    <div class="item-cta-wrapper">
        <img src="../images/social-digital-commerce-tributario.webp" alt="Social Digital Commerce Tributário">
        <p>A falta de conhecimento pode resultar em diversas situações desagradáveis, não só junto os órgãos competentes, mas também na sua organização interna.</p>
        <a href="/tributario" id="ctaHomeSaibaMais" class="cta-home-saiba-mais">Saiba Mais</a>
    </div>
</div>
<div class="carousel-item">
    <h3>Comex</h3>
    <div class="item-cta-wrapper">
        <img src="../images/comex2.webp" alt="Comex - Comercio Exterior Social Digital Commerce">
        <p>Conte conosco para realizar o comércio exterior com sua marca. Alcançando a internacionalização da operação B2B ou B2C.</p>
        <a href="/tributario" id="ctaHomeSaibaMais" class="cta-home-saiba-mais">Saiba Mais</a>
    </div>
</div>
<div class="carousel-item">
    <h3>Cross Border</h3>
    <div class="item-cta-wrapper">
        <img src="../images/cross.webp" alt="Cross Border Social Digital Commerce">
        <p>Envie seus produtos para qualquer parte do mundo. Com o Cross Border sua marca pode romper barreiras e gerar novos negócios.</p>
        <a href="/cross-border" id="ctaHomeSaibaMais" class="cta-home-saiba-mais">Saiba Mais</a>
    </div>
</div>