<div class="header-wrapper">
    <div class="menu-desktop menu">
       <div class="lang-selector">
            <div class="bra">
                <a href="/pt">
                    <i class="flag-pt"></i>
                </a>
            </div>
            <div class="spa">
                <a href="/sp">
                    <i class="flag-sp"></i>
                </a>
            </div>
            <div class="usa">
                <a href="/en">
                    <i class="flag-en"></i>
                </a>
            </div> 
        </div> 
        <div class="menu-nav">
            <div class="logo-social">
                <a href="/">
                    <img src="../images/sdc_logo_colorido.svg">
                </a>
            </div>
            <nav class="menu-social-digital-commerce">
                <ul class="menu-wrapper">
                    <div class="logo-social hide">
                        <a href="/">
                            <img src="../images/sdc_logo_colorido.svg">
                        </a>
                    </div>
                    <li class="menu-item"><a href="/sobre-nos">Sobre nós</a></li>
                    <li class="menu-item">
                        <a href="">Serviços</a>
                        <ul class="submenu">
                            <li class="sub-menu-item"><a href="/fullcommerce">Full Commerce</a></li>
                            <li class="sub-menu-item"><a href="/fullcomex">Full Comex</a></li>
                            <li class="sub-menu-item"><a href="/fullfillment">Full Fillment</a></li>
                        </ul>
                    </li>
                    <!-- <li class="menu-item"><a href="/#canais">Canais</a></li> -->
                    <li class="menu-item"><a href="https://api.whatsapp.com/send?phone=+5511913201667&text=Gostaria%20de%20saber%20mais%20sobre%20as%20solu%C3%A7%C3%B5es%20da%20Social%20Digital">Fale Conosco</a></li>
                    <li class="menu-item"><a href="/blog">Blog</a></li>
                </ul>
                <p class="close-button">X</p>
            </nav>
            <div class="burger-menu hide">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>