@import '../utils/variables';
@import '../utils/mixin';

.best-categ {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    h2 {
        @extend %nexa-24px-brownDark-bold;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .categ-items {    
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: $screen-md){
            max-width: 400px;
        }

        .item {
            display: flex;
            flex-direction: column;
            margin: 10px;
    
            .img {
                border-radius: 50%;
                overflow: hidden;
                border: 3px solid transparent;
                transition: .3s;    
                width: 150px;
                height: 150px;
                z-index: -1;

                img {
                    width: 100%;
                }
            }
    
            .description {
                display: flex;
                justify-content: center;
                background-color: transparent;
                margin-top: 20px;
    
                a {
                    @extend %nexa-14px-brownDark;
                    text-transform: capitalize;
                }
            }

                
            @media screen and (min-width: $screen-md){

                &:hover .img{
                    opacity: .8;
                    transition: .3s;
                    z-index: -1;
                }
            }


        }
    }

}