.j-footer__bottom {
    padding-top: 82px;
    .j-footer__copyright {
        p {
            text-align: center;
            color: $color-white;
            font-size: 14px;
            line-height: 22px;
        }
    }
}
