@import "../settings/color";
@import "../settings/fonts";

html{
	@include f(16);
}

body {
	font-family: $montserrat;
	background-color: var(--color-white);
	overflow-x: hidden;
}

#ajaxBusy{
	display: none !important;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	outline: 0;
	color: initial;
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}
}

button{
	outline: 0;
}

input{
	outline: 0;
	
	&:focus{
		box-shadow: none;
	}
}

.desktop{
	display: block;
}
.mobile{
	display: none;
}
.ipadShow{
	display: none;
}
.ipadHide{
	display: block;
}

@include d(ipad){
	.ipadHide{
		display: none;
	}
	.ipadShow{
		display: block;
	}
}
@include d(celularLarge){
	.desktop{
		display: none;
	}
	.mobile{
		display: block;
	}
}

.promocoes-por-marcas, 
.leve-antes-que-acabe, 
.compra-na-medida-certa,
.novidades-por-categoria,
.ofertas-imperdiveis,
.amamos-combos,
.vitrine-final,
.marcas-que-amamos{
	.vitrine-title{
		max-width: 1600px;
		margin: auto;
		@include flexbox;
		@include align-items(center);
		h2{
			text-align: center;
			text-transform: uppercase;
			font-size: 32px;
			margin: 1em 0;
			width: 100%;
			@include d(qhd){
				font-size: 24px;
			}
			@include d(ipadPro){
				font-size: 20px;
			}
		}
		&:before, &:after{
			content: "";
			width: 100%;
			height: 1px;
			background-color: var(--color-gray-line);
			margin: auto;
			@include d(celularLarge){
				width: 15%;
			}
		}
	}	
}

.compra-na-medida-certa, .novidades-por-categoria, .marcas-que-amamos{
	.vitrine-title{
		h2{
			font-weight: 300;
			@include d(qhd){
				font-size: 24px;
			}
			@include d(ipadPro){
				font-size: 20px;
			}
			span{
				font-weight: 600;
			}

		}
		&:before, &:after{
			content: "";
			display: none !important;
		}
	}
}

.pg-produto{
	main.pg-produto-main{
		section{
			.qvvt{
				.container-center{
					width: 100%;
					.titulo-prateleira{
						max-width: 1600px;
						margin: 2em auto;
						@include flexbox;
						@include align-items(center);
						h2{
							text-align: center;
							text-transform: uppercase;
							font-size: 32px;
							@include d(qhd){
								font-size: 24px;
							}
							@include d(ipadPro){
								font-size: 20px;
							}
							margin: 1em 0;
							width: 100%;
							font-weight: 700;
							b{
								margin-left: 10px;
								font-weight: 700;
							}
						}
						&:before, &:after{
							content: "";
							width: 15%;
							height: 1px;
							background-color: var(--color-gray-line);
							margin: auto;
						}
					}
				}
			}
		}
	}
}

body{
	> .ajax-content-loader{
		.box-welcome{
			display: none;
		}
	}
	.mm-slideout{
		.ajax-content-loader{
			.box-welcome{
				display: none;
			}
		}
	}
}

.link-help{
	z-index: 9;
	display: none;
	&.loginOff{
		display: block;
	}
	&.loginOn{
		display: block;
		.logado{
			cursor: pointer;
		}
		.box-welcome {
			position: absolute;
			background: var(--color-white);
			display: none;
			@include flex-flow(column);
			padding: 15px;
			line-height: 30px;
			font-size: 13px;
			border-radius: 10px;
			box-shadow: 4px 4px 7px #7b7b7b;
			width: 160px;
			top: 45px;
			right: 0;
			@include d(ipad){
				@include flexbox;
				position: initial;
				width: auto;
				padding: 0;
				background: none;
				box-shadow: none;
				border-radius: 0;
			}
			&.ativo{
				@include flexbox;
			}
		}
	}
}

.wrapper{
	padding: 0;
	width: 100%;
	padding: 0 2em;
	min-height: initial;
	@include d(ipad){
		padding: 0 1em;
	}
}
#vtexIdUI-global-loader{
	background: rgb(0, 0, 0) scroll center 35% !important;
}
#vtexIdContainer{
	position: fixed;
	.vtexIdUI{
		font-family: inherit !important;
		border: none;
		box-shadow: none;
		background: var(--color-white);
		.vtexId-link, a{
			color: var(--color-black);
		}
		button.btn-success{
			color: var(--color-black);
			text-shadow: none;
			background-color: var(--color-yellow);
			background-repeat: no-repeat;
			border-color: var(--color-yellow);
			border-radius: 5px;
			background-image: none !important;
			box-shadow: none !important;
			font-weight: 600;
			i{
				display: none !important;
			}
			&:hover{
				background-color: var(--color-black);
				color: var(--color-yellow);
				border-color: var(--color-black);
			}
		}
		.modal-footer{
			background-color: var(--color-white);
			box-shadow: none;
			border-top: none;
		}
		.modal-header{
			background: none;
			border-bottom: none;
			.close{
				right: 5px;
				top: 5px;
				background: var(--color-black);
				color: var(--color-yellow);
				border-radius: 50%;
				cursor: pointer;
			}
			.vtexIdUI-heading{
				span{
					font-size: 0;
					@include flexbox;
					@include justify-content(center);
					&:before{
						content: "Utilize uma das opções abaixo para fazer Login:";
						font-size: 19px;
						text-align: center;
						font-weight: 600;
					}
				}
			}
		}
		.vtexIdUI-providers-list{
			li{
				button.btn-success.vtexIdUI-send-email{
					color: var(--color-black);
					text-shadow: none;
					background-color: var(--color-yellow);
					background-repeat: no-repeat;
					border-color: var(--color-yellow);
					border-radius: 5px;
					background-image: none !important;
					box-shadow: none !important;
					font-weight: 600;
					i{
						display: none !important;
					}
					&:hover{
						background-color: var(--color-black);
						color: var(--color-yellow);
						border-color: var(--color-black);
					}
				}
				.vtexIdUI-others-send-email{
					color: var(--color-yellow);
					text-shadow: none;
					background-color: var(--color-black);
					background-image: none;
					background-repeat: no-repeat;
					border-radius: 5px;
					font-weight: 600;
					box-shadow: none;
					&:hover{
						background-color: var(--color-yellow);
						color: var(--color-black);
						border-color: var(--color-yellow);
					}
				}
			}
		}
		.vtexIdUI-main-content{
			.vtexIdUI-classic-login{
				#vtexIdUI-form-classic-login{
					.modal-header{
						h4{
							span.vtexIdUI-heading{
								display: flex;
								justify-content: center;
								font-weight: 600;
							}
						}
					}
					.modal-footer{
						background-color: var(--color-white);
						box-shadow: none;
						border-top: none;
					}
				}
			}
		}
	}
}