.sm-subhome-informatica-main{
    background: var(--color-gray-ice);
    @include d(ipad){
        background: var(--color-white);
    }
    section{
        max-width: 1600px;
        margin: auto;
        @include d(hdplus){
            margin: 0 4em;
        }
        @include d(ipadPro){
            margin: 0 1em;
        }
        &:nth-of-type(1) {
            .section-banners-triplos{
                @include d(ipadPro){
                    margin-top: 2em;
                }
                @include d(ipad){
                    margin-top: 0em;
                    margin-right: 0;
                }
                @include d(celularLarge){
                    width: 104%;
                }
            }
        }
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(5),
        &:nth-of-type(6),
        &:nth-of-type(7),
        &:nth-of-type(9),
        &:nth-of-type(10){
            @include d(ipad){
                margin-right: 0;
            }
        }
        h1{
            text-align: left;
            font-size: 25px;
            font-weight: 600;
            padding-top: 2em;
            width: 100%;
            position: relative;
            font-style: normal;
            font-family: Montserrat,sans-serif;
            @include d(ipad){
                padding-top: 1em;
                padding-bottom: 1em;
            }
        }
        figure{
            .wrapper{
                .banner-subhome{
                    padding: 3em 0;
                    @include d(ipadPro){
                        padding: 1em 0;
                    }
                    .box-banner{
                        @include t(.4s);
                        a{
                            img{
                                max-width: 100%;
                            }
                        }
                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
        .section-banners-triplos{
            .wrapper{
                @include flexbox;
                @include justify-content(space-between);
                .slick-list{
                    @include d(celularLarge){
                        padding-left: 0 !important;
                    }
                }
                .box-banner{
                    @include t(.4s);
                    @include d(celularLarge){
                        padding-right: 1em;
                    }
                    a{
                        img{
                            max-width: 100%;
                        }
                    }
                    &:hover{
                        transform: scale(1.05);
                    }
                    &:nth-of-type(2){
                        @include d(hdplus){
                            margin: 0 3.5em;
                        }
                        @include d(ipadPro){
                            margin: 0 1.5em;
                        }
                    }
                }
            }
        }
        .section-categorias-subhome{
            margin: 3em 0;
            @include d(ipad){
                margin: 1em 0;
                margin-bottom: 0;
                overflow-x: auto;
            }
            .wrapper{
                @include flexbox;
                @include justify-content(space-between);
                .box-banner{
                    @include t(.4s);
                    @include d(hdplus){
                        margin: 0px 1em;
                    }
                    @include d(ipadPro){
                        max-width: 70px;
                    }
                    a{
                        @include d(ipadPro){
                            @include flexbox;
                            @include flex-flow(column);
                            @include align-items(center);
                        }
                        img{
                            max-width: 100%;
                            @include d(ipadPro){
                                max-width: 65px;
                            }
                            @include d(ipad){
                                max-width: 85px;
                            }
                        }
                        p{
                            text-align: center;
                            max-width: 100px;
                            margin: 0 auto;
                            margin-top: 10px;
                            @include d(qhd){
                                font-size: 13px;
                            }
                            @include d(ipadPro){
                                font-size: 11px;
                            }
                        }
                    }
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
        }
        .vitrine-simples{
            margin-bottom: 3em;
            @include d(hdplus){
                margin: auto 0;
                margin-bottom: 3em;
            }
            @include d(ipadPro){
                margin-bottom: 1em;
            }
            @include d(ipad){
                padding-top: 0;
            }
            &.ofertas-em-destaque, &.audio-e-som{
                margin-bottom: 0em;
            }
            .sm-prateleira{
                @include d(ipad){
                    margin-top: 1em;
                    margin-bottom: 2em;
                }
                ul{
                    li{
                        padding-left: 0;
                    }
                }
            }
        }
        .vitrine-tripla{
            @include d(hdplus){
                margin: 2em 0;
                margin-bottom: 0em;
            }
            @include d(ipadPro){
                margin: 0;
            }
            .wrapper{
                @include d(ipad){
                    padding: 0;
                }
                .sm-prateleira{
                    ul{
                        li{
                            @include d(celularLarge){
                                margin: auto;
                            }
                            .sm-product{
                                @include d(celularLarge){
                                    width: 165px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.wrapper{
    @include d(ipad){
        padding: 0 !important;
    }
}