extends ../../layout/index.pug

//- Template variables
block vars
    - var $templateName = 'SubHomeLivros';
    - var $templateClass = 'sm-subhome-livros';
//- Page styles
block append styles
    link(rel='stylesheet', href=`/arquivos/${$templateName}.css`, media='all')/

//- Main Content
block content
    section
        h1.subhome-title Livros
        div.section-banners-triplos
            div.wrapper
                vtex:contentPlaceHolder(id=`banners-triplos-subhome`)/
    section
        h2.subhome-title Categorias em alta
        div.section-categorias-subhome
            div.wrapper
                vtex:contentPlaceHolder(id=`categorias-subhome`)/
    section
        div.section-ofertas-subhome.lancamento.vitrine-simples
            div.vitrine-title
                h2 Lançamento
            div.wrapper
                vtex:contentPlaceHolder(id=`vitrine-lancamento-subhome`)/
    section
        div.section-banners-triplos
            div.wrapper
                vtex:contentPlaceHolder(id=`banners-duplos-subhome`)/
    section
        div.section-ofertas-subhome.biografia.vitrine-simples
            div.vitrine-title
                h2 Biografia
            div.wrapper
                vtex:contentPlaceHolder(id=`vitrine-biografia-subhome`)/
    section
        div.section-ofertas-subhome.ficcao-cientifica.vitrine-simples
            div.vitrine-title
                h2 Ficção Científica
            div.wrapper
                vtex:contentPlaceHolder(id=`vitrine-ficcao-cientifica-subhome`)/
    section
        figure
            div.wrapper
                div.banner-carousel.banner-subhome.desktop
                    vtex:contentPlaceHolder(id=`banner-subhome-full-desktop`)/
                div.banner-carousel.banner-subhome.mobile
                    vtex:contentPlaceHolder(id=`banner-subhome-full-mobile`)/
    section
        div.section-mais-vendidos.vitrine-tripla
            div.vitrine-title
                h2 Mais vendidos
            div.wrapper
                vtex:contentPlaceHolder(id=`vitrine-tripla-produtos`)/
block append scripts
    script(type='text/javascript', src=`/arquivos/${$templateName}.js`) 