.menu-lateral-institucional
  h3 Institucionais
  ul
    h4 Sobre a ShopMulti
    li.quem-somos
      a(href='/institucional/quem-somos') Quem Somos
    li.servicos
      a(href='/institucional/servicos') Serviços
    li.trabalhe-conosco
      a(href='#') Trabalhe Conosco
    li.blog
      a(href='https://www.socialdigitalcommerce.com.br/blog') Blog
    li.venda-seus-produtos
      a(href='/institucional/venda-seus-produtos') Venda seus produtos
  ul
    h4 Ajuda
    li.prazos-e-locais-de-entrega
      a(href='/institucional/prazos-e-locais-de-entrega') Prazos e locais de entrega
    li.politica-de-troca-e-devolucao
      a(href='/institucional/politica-de-troca-e-devolucao') Política de Troca e Devolução
    li.politica-de-entrega
      a(href='/institucional/politica-de-entrega') Política de Entregas e Fretes
    li.quantidade-de-itens-por-pedido
      a(href='/institucional/quantidade-de-itens-por-pedido') Quantidade de itens por pedido
    li.politica-de-privacidade
      a(href='/institucional/politica-de-privacidade') Política de Privacidade
    li.termos-de-uso
      a(href='/institucional/termos-de-uso') Termos e Condições de Uso
  ul
    h4 Meus Pedidos
    li.acompanhe-seus-pedidos
      a(href='/_secure/account/#/orders') Acompanhe seus pedidos
    li.editar-cadastro
      a(href='/_secure/account/') Editar cadastro