div.menu-custom.hamburger
    div.menu-head
        div.menu-saudacao
            p.saudacao Seja bem vindo! 
    div.menu-main-links
        ul.main-links.strong Destaques
            li.item-menu
                a(href="#") Mais vendidos
            li.item-menu
                a(href="#") Lançamentos
            li.item-menu
                a(href="#") Produtos em alta
    div.menu-main-categories
        ul.main-categories.strong Categorias Principais
            li.item-menu.saude
                a(href="#") Saúde e Beleza
            li.item-menu.roupas-masculinas
                a(href="#") Roupas Masculinas
            li.item-menu.informatica
                a(href="#") Informática
            li.item-menu.roupas-femininas
                a(href="#") Roupas Femininas
            li.item-menu.video-games
                a(href="#") Video Games
            li.item-menu.level-1 Consultar todas as categorias
                //- AQUI VÃO TODAS AS CATEGORIAS DO MKTPLC
    div.menu-last-links
        ul.last-links.strong Ajuda e Configurações
            li.item-menu
                a(href="#") Sua conta
            li.item-menu
                a(href="#") Ajuda