ul.menu-departamento
    li.level-1 Compre por departamento
ul.menu-level-1
    li.level-1
        a.link-level-1(href='#') Ofertas do dia
    li.level-1
        a.link-level-1(href='#') Celulares
    li.level-1
        a.link-level-1(href='#') Bebidas
    li.level-1
        a.link-level-1(href='#') Informática
    li.level-1
        a.link-level-1(href='#') Saldão
    li.level-1.destaque
        a.link-level-1(href='#') Cashback
div.empty-block