<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="Store-Mobile-Head" />
    <vtex:template id="Store-Common-Styles" />
    <link rel="stylesheet" href="/arquivos/lp-lip-max.css?v=20-12-21-v9" />
    <vtex:contentPlaceHolder id="title" />
</head>

<body id="topo">
    <vtex:template id="Store-Mobile-Header" />

    <main>            
        <div>
            <div>
                <vtex:contentPlaceHolder id="Banner da categoria" />
            </div>
            <div class="container">
                <vtex:contentPlaceHolder id="Titulo da LP" />
                <section class="d-flex img-products d-block">
                    <article class="col-img-product d-block">
                        <div class="col-2 miniaturas">
                            <ul>
                                <li><img src="https://payottatix.vteximg.com.br/arquivos/ids/156449-344-344/Batom_Lquido_Lip_Max_Matte__Bo_272.jpg" alt="Imagem Lip Max"/></li>
                                <li><img src="https://payottatix.vteximg.com.br/arquivos/ids/156450-344-344/Batom_Lquido_Lip_Max_Matte__Bo_495.jpg" alt="Imagem Lip Max"/></li>
                                <li><img src="https://payottatix.vteximg.com.br/arquivos/ids/156451-344-344/Batom_Lquido_Lip_Max_Matte__Bo_993.jpg" alt="Imagem Lip Max"/></li>
                                <li><img src="https://payottatix.vteximg.com.br/arquivos/ids/156452-344-344/Batom_Lquido_Lip_Max_Matte__Bo_996.jpg" alt="Imagem Lip Max"/></li>
                                <li><img src="https://payottatix.vteximg.com.br/arquivos/ids/157049-344-344/Borgonha.png" alt="Imagem Lip Max"/></li>
                            </ul>
                        </div>
                        <div class="col-10 img-principal">
                            <img src="https://payottatix.vteximg.com.br/arquivos/ids/157049-344-344/Borgonha.png" alt="Imagem Lip Max"/>
                        </div>
                    </article>
                    <article class="col-info-product d-block">
                        <div class="col-10 d-block">
                            <h2 class="title-cor">KIT COLEÇÕES LIP MAX</h2>
                            <p class="preco-de"></p>
                            <p class="preco-por"></p>
                            <p class="parcelamento"></p>
                            <div class="buy-box">
                                <select id="qtd" class="sel-qtd"></select>
                                <span class="buy-buttom-lp-lip-max buy-buttom-lp-bia-todo-dia">ADICIONAR AO CARRINHO</span>
                                <input type="hidden" id="idSku"/>
                            </div>
                            <ul style="margin-top: 20px;" class="especificacoes-bia-todo-dia d-flex">
                                <p>
                                    São 12 cores de batons líquidos matte, desenvolvidos com a fórmula tradicional PAYOT, criados para atender a todos os gostos e 
                                    todos os tons de pele. Os batons da coleção possuem como principais características: textura aveludada, longa duração, secagem rápida, 
                                    não escorre, não craquela, além de serem precisos e confortáveis.<br />
                                    Precauções: Manter em local fresco e fora do alcance das crianças. Em caso de sensibilização, suspender o uso.<br />
                                    PRODUTO NÃO TESTADO EM ANIMAIS
                                </p>
                            </ul>
                        </div>
                        <div class="col-2" style="margin-top:30px;">
                            <ul>
                                <li class="sku-color select"><span class="color-0-lip-max thumb-120979968"></span></li>
                                <li class="sku-color"><span class="color-2-lip-max thumb-120979956"></span></li>
                                <li class="sku-color"><span class="color-3-lip-max thumb-120980035"></span></li>
                                <li class="sku-color"><span class="color-4-lip-max thumb-120980022"></span></li>
                                <li class="sku-color"><span class="color-5-lip-max thumb-120979943"></span></li>
                                <li class="sku-color"><span class="color-6-lip-max thumb-120979992"></span></li>
                                <li class="sku-color"><span class="color-7-lip-max thumb-120979931"></span></li>
                                <li class="sku-color"><span class="color-8-lip-max thumb-120979917"></span></li>
                                <li class="sku-color"><span class="color-9-lip-max thumb-120979905"></span></li>
                                <li class="sku-color"><span class="color-10-lip-max thumb-120979893"></span></li>
                                <li class="sku-color">
                                    <a href="https://www.lojapayot.com.br/batom-liquido-lip-max-matte-vermelho-intenso-payot/p" target="_blank">
                                        <span class="color-11-lip-max thumb-120980009">
                                            <img src="https://payottatix.vteximg.com.br/arquivos/ids/157051-344-344/Verm-Intenso.png?v=637691395739900000" alt="Cor Lip Max" id="120980009" />
                                        </span>
                                    </a>
                                </li>
                                <li class="sku-color">
                                    <a href="https://www.lojapayot.com.br/batom-liquido-lip-max-matte-nude-orange-payot/p" target="_blank">
                                        <span class="color-12-lip-max thumb-120979881">
                                            <img src="https://payottatix.vteximg.com.br/arquivos/ids/157041-344-344/Nude-Orange.png?v=637691387729470000" alt="Cor Lip Max" id="120979881" />
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </section>
                <section>
                    <vtex:contentPlaceHolder id="Imagem Conteudo" />
                </section>
            </div>

            <section class="video-lip-max">
                <div class="container">
                    <iframe width="280" height="280" src="https://www.youtube.com/embed/OYUtgDBeQX0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>
            </section>

        </div>
    </main>

    <div class="js--scroll-top">
        <a href="#topo">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><rect width="32" height="32" fill="#707070" opacity="0.6"/><path d="M32.954,314.685l14.718,13.8-14.2,13.428" transform="translate(-312.044 56.313) rotate(-90)" fill="none" stroke="#fff" stroke-width="4"/></svg>
        </a>
    </div>

    <vtex:template id="Store-Mobile-Footer" />
    <vtex:template id="Store-Common-Scripts" />
    <vtex:template id="Store-Mobile-Scripts" />
    <script src="/arquivos/lp-lip-max.js?v=20-12-21"></script>
</body>
</html>