<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <title>
        <vtex:contentPlaceHolder id='Title Page - Tab' />
    </title>
    <vtex:template id="Store-Common-Styles" />
    <vtex:template id="Store-Mobile-Head" />
    <link rel="stylesheet" href="https://payottatix.vteximg.com.br/arquivos/store-mobile-wishlist.css" />
</head>

<body>
    <vtex:template id="Store-Mobile-Header" />

    <main>
        <div class="container">
            <div class="j-wishlist__top">
                <div class="j-wishlist__banner">
                    <vtex:contentPlaceHolder id="Titulo" />
                </div>
            </div>
            <div class="j-wishlist__content"></div>
        </div>
    </main>

    <vtex:template id="Store-Mobile-Footer" />
    <vtex:template id="Store-Mobile-Scripts" />
    <script src="https://payottatix.vteximg.com.br/arquivos/store-common.js"></script>
    <script src="https://payottatix.vteximg.com.br/arquivos/store-mobile-wishlist.js"></script>
</body>

</html>