<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="Store-Mobile-Head" />
    <vtex:template id="Store-Common-Styles" />
    <link rel="stylesheet" href="https://payottatix.vteximg.com.br/arquivos/store-mobile-home.css" />
</head>

<body>
    <vtex:template id="Store-Mobile-Header" />

    <section id="login-content" class="container">
        <vtex.cmc:userLogin/>
    </section>

    <vtex:template id="Store-Mobile-Footer" />
    <vtex:template id="Store-Common-Scripts" />
    <vtex:template id="Store-Mobile-Scripts" />
</body>

</html>