<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="Store-Mobile-Head" />
    <vtex:template id="Store-Common-Styles" />
    <link rel="stylesheet" href="https://payottatix.vteximg.com.br/arquivos/store-mobile-account.css" />
    <meta name="yAccount" content="payottatix"/>
    <script src="https://meuspedidos.yami.com.br/returnmanager.min.js" type="text/javascript"></script>
</head>

<body>
    <vtex:template id="Store-Mobile-Header" />

    <section id="account-content" class="container">
        <vtex.cmc:accountUserProfile />
    </section>

    <vtex:template id="Store-Mobile-Footer" />
    <vtex:template id="Store-Common-Scripts" />
    <vtex:template id="Store-Mobile-Scripts" />
</body>

</html>