<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="Store-Mobile-Head" />
    <vtex:template id="Store-Common-Styles" />
    <link rel="stylesheet" href="https://payottatix.vteximg.com.br/arquivos/store-mobile-product.css" />
</head>

<body>
    <vtex:template id="Store-Mobile-Header" />

    <main>
        <div class="container">
            <vtex.cmc:breadCrumb />
            <div class="j-content__product">
                <div class="j-content__product--wrapper__infos">
                    <div class="j-content__product--img">
                        <vtex.cmc:ProductImage />
                    </div>
                    <div class="j-content__product--infos">
                        <h1 class="j-product__name">
                            <vtex.cmc:productName />
                        </h1>

                        <div class="j-product__brand" style="display: none;">
                            <vtex.cmc:brandName/>
                        </div>

                        <div id="yv-review-quickreview"></div>

                        <div class="j-box-price">
                            <vtex.cmc:skuRichSelection changeImage="1" />
                            <vtex.cmc:skuPrice/>
                        </div>
                        
                        <div class="j-box-buy">
                            <div class="j-qty">

                            </div>
                            <div class="j-buy">
                                <vtex.cmc:BuyButton />
                            </div>
                        </div>

                        <div class="j-content__product--variations">
                            <div class="j-box-variations">
                                <vtex:contentPlaceHolder id="Similares" />
                            </div>
                        </div>

                        <div class="j-box-description">
                            <vtex.cmc:ProductDescription />
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="j-details">
            <div class="container">
                <h3 class="j-shelf__title">
                    <span>
                        detalhes
                        <strong>informações</strong>
                    </span>
                </h3>
                <vtex.cmc:productSpecification/>
            </div>
        </div>

        <div class="container">
            <div class="j-product__shelf">
                <h3 class="j-shelf__title">
                    <span>
                        veja mais
                        <strong>relacionados</strong>
                    </span>
                </h3>
                <vtex:contentPlaceHolder id="Vitrine inferior" />
            </div>

        </div>
    </main>

    <vtex:template id="Store-Mobile-Footer" />
    <vtex:template id="Store-Common-Scripts" />
    <vtex:template id="Store-Mobile-Scripts" />
    <script type="text/javascript" src="https://payottatix.vteximg.com.br/arquivos/store-mobile-product.js"></script>
    
</body>
</html>