.nk-cookie-banner {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
  border-radius: 0px;
  display: none;
  background: rgba(0, 0, 0, 0.68);
  padding: 10px;
  box-shadow: 30px 2px 0 0 rgb(0 0 0 / 9%);
}

.nk-cookie-banner p{
  color: #fff;
  font-size: 13px;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.nk-cookie-banner a{
  color: #fff;
  font-size: 13px;
}

.nk-cookie-banner button{
  background-color: transparent;
  border: 1px solid #fff !important;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0px;
  padding: 10px 15px;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 30px;
}