<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="videotop">

<div class="header-top" style="
    display: flex;
    justify-content: flex-end;
">
  <video width="100%" src="https://cdn.shopify.com/s/files/1/0267/3855/6974/t/1/assets/videoabout.mp4" id="video" muted>
    <!--<audio controls>
  <source src="https://cdn.shopify.com/s/files/1/0267/3855/6974/t/1/assets/videoabout.mp3" type="audio/ogg">
Your browser does not support the audio element.
</audio>-->
    <iframe id="video-player" class="video" width="1px" height="01px" src="https://cdn.shopify.com/s/files/1/0267/3855/6974/t/1/assets/videoabout.mp4" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay"></iframe>

  </video>
</div>
</div>
</div>
</div>
</div>
        
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
<p>
MUITO CONECTADAS COM A VIBE DE LIBERDADE <br/>

DE EXPRESSÃO E REBELDIA DA MTV BRASIL DOS  <br/>

ANOS 2000, MARI E BIA SE INSPIRARAM  <br/>

NAQUELE MOMENTO HISTÓRICO PARA CRIAR EM  <br/>

2016 UM CANAL DO YOUTUBE CHAMADO  <br/>

VIEWGANAS. DECIDIDAS A DAR UMA NOVA CARA  <br/>

PARA A COMIDA VEGANA, SEMANA APÓS  <br/>

SEMANA, AS DUAS SE REUNIAM PARA TRAZER  <br/>

RECEITAS CADA VEZ MAIS OUSADAS E  <br/>

POLÊMICAS. DE COSTELA DO OUTBACK NA  <br/>

VERSÃO VEGANA ATÉ FILÉ DE PESCADA 100%  <br/>

VEGETAL. QUASE TUDO PASSOU POR ALI. ISSO  <br/>

PORQUE ELAS ACREDITAVAM QUE PARA TRAZER  <br/>

MAIS ADEPTOS, O VEGANISMO PRECISAVA SE  <br/>

TORNAR ALGO COOL E DESCOLADO.  HOJE O  <br/>

CANAL CHEGOU À MARCA DE MILHÕES DE  <br/>

VISUALIZAÇÕES. VENDO A DIFICULDADE QUE O  <br/>

PÚBLICO E ELAS MESMAS TINHAM DE  <br/>

ENCONTRAR PRODUTOS VEGANOS LEGAIS NOS  <br/>

MERCADOS, ELAS DECIDIRAM ENCARAR UMA  <br/>

NOVA MISSÃO: SE TORNAREM CRIADORAS DE  <br/>

PRODUTOS, ALÉM DE CRIADORAS DE CONTEÚDO. </p>
        
        <img src="https://cdn.shopify.com/s/files/1/0267/3855/6974/t/1/assets/bkg_sobre.png" width="500" />
  
<p style="position: relative;top: -68px;">
ELAS FUNDAM ASSIM A MARCA MONDO. PARA <br/>

DESENVOLVER O MONDO, MARI E BIA SE <br/>

ASSOCIARAM A ALGUNS DOS MAIORES EXPERTS EM <br/>

SORVETE DO BRASIL E DA ITÁLIA. DEPOIS DE UM <br/>

ANO ENTRE TESTES EM LABORATÓRIO, PILOTOS NA <br/>

FÁBRICA E DIVERSAS REUNIÕES PARA RESOLVER O <br/>

ENIGMA DO SORVETE VEGANO PERFEITO, O <br/>

PRIMEIRO MONDO NASCEU. O LANÇAMENTO FOI A <br/>

VERSÃO VEGANA DO FAMOSO SORVETE MAGNUM. <br/>

CREMOSO POR DENTRO COM CASQUINHA DE <br/>

CHOCOLATE CROCANTE POR FORA. APÓS <br/>

ANDANÇAS POR NOVA YORK E LONDRES PROVANDO <br/>

AS PRINCIPAIS MARCAS DE SORVETE VEGANO DE <br/>

MASSA DO MUNDO, MARI E BIA DECIDIRAM TAMBÉM <br/>

TRAZER COM EXCLUSIVIDADE PARA O BRASIL O <br/>

MONDO DE POTE.         
</p>
      </div>
    </div>
  </div>
</div>
<style>
.videotop {
    background-image: url(https://cdn.shopify.com/s/files/1/0267/3855/6974/t/1/assets/borda_video.png);
    width: 850px;
    height: 550px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 30px;
      position: relative;
    top: 80px;
}
  
.videotop video {
    width: 100%;
    float: right;
    margin-top: 10px;
    position: relative;
    left: -4px;
}
  
.rte {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-width {
    max-width: 90%;
}
.page-width p {
    color: #4e312a;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 25px;
}
.page-container {
  background: #e7e2df;
}
.main-content {
    padding-top: 0px;
}
.medium-up--push-one-twelfth {
    left: 0px;
    padding: 0px;
    width: 100%;
}
@media(max-width:1300px){
.page-width p {
    font-size: 12.5px;
}  
.rte img {
    width: 400px;
}
}
@media(max-width:800px){
.videotop { 
    width: 100%;
    height: auto;
    top: 0px;
    margin-top: 20px;
    padding-bottom: 2px;
}
  
.header-top {
  margin-bottom: 20px;
}
.page-width p {
    top: 0px !important;
}
  .page-width p br {
  display: none !important;
  }
.rte {
    display: flex;
    flex-direction: column;
}  
  
.rte img {
  display: none;
}
}
</style>
<script>
  window.onload = function(){
  document.querySelector('video').play()
  }
</script>