// $color-white: #fff;
// $color-black: #000;

:root{
    // PROJECT'S COLORS

    // base-colors
	--color-white:                            #ffffff;
	--color-white-transp:                     rgba(255, 255, 255, 0.8);
	--ice-white:                              #f5f5f5;
	--color-black:                            #000000;
    // green-colors
	--color-green-clean:                      #3EDC81;
	--color-green:                            #00dd3e;
	--color-green-dark:                       #21ba45;
    // blue-colors
	--color-blue-clean:                       #29C5FF;
	--color-blue:                             #22A7F0;
	--color-blue-dark:                        #0287D0;
    // yellow colors
	--color-yeloow-clean:                     #FFCF4B;
	--color-yellow:                           #FFCD28;
	--color-yeloow-dark:                      #F9B32F;
    // red colors
	--color-red-price:                        #BC1A1A;
	--color-red-clean:                        #fc2a58;
	--color-red:                              #E71442;
	--color-red-dark:                         #d6143e;
    // silver colors
	--color-silver-clean:                     #f1f1f1;
	--color-silver:                           #f9f9f9;
	--color-silver-dark:                      #f5f5f5;
    // gray colors
	--color-gray-clean:                       #909090;	
	--color-gray:                             #808080;
	--color-gray-nav:                         #c4c4c4;
	--color-gray-line:						  #C6C6C6;
	--color-bg-newsletter: 					  #DCDCDC;
	--color-parcelas: 						  #AFAFAF;
    // graphite colors
	--color-graphite:                         #353535;
}