$font-main: 'Montserrat', sans-serif;
$font-bebas: 'Bebas Neue', cursive;
$font-open: 'Open Sans', sans-serif;

$color-main: #FB4F93;
$color-yellow: #FBC22F;
$color-white: #fff;
$color-black: #000;
$color-blue: #015295;
$color-red: #f70c17;
$color-green: #5bc102;
$color-gray: #ccc;
$color-lightgray: #F4F4F4;
$color-darkgray: #707070;