li.menu-banner-item
    a.menu-banner-link(href=`#`) Calçados
li.menu-banner-item
    a.menu-banner-link(href=`#`) Roupas
li.menu-banner-item
    a.menu-banner-link(href=`#`) Bolsas e Acessórios
li.menu-banner-item
    a.menu-banner-link(href=`#`) Perfumes e Beleza
li.menu-banner-item
    a.menu-banner-link(href=`#`) Botas
li.menu-banner-item
    a.menu-banner-link(href=`#`) Moletom
li.menu-banner-item
    a.menu-banner-link(href=`#`) Casacos
li.menu-banner-item
    a.menu-banner-link(href=`#`) Tênis