div.marquee-rotativo-wrapper
    div.wrapper-mq
        span.marquee-text
            a(href=`#`) Kit com 10 cuecas + kit com 3 camisetas b치sicas por R$99,99
        span.marquee-text 
            a(href=`#`) 2 Pares de chinelos por R$20,99
        span.marquee-text 
            a(href=`#`) Kit com 3 camisetas b치sicas por 79,99
    div.wrapper-mq
        span.marquee-text
            a(href=`#`) Kit com 10 cuecas + kit com 3 camisetas b치sicas por R$99,99
        span.marquee-text 
            a(href=`#`) 2 Pares de chinelos por R$20,99
        span.marquee-text 
            a(href=`#`) Kit com 3 camisetas b치sicas por 79,99