ul.menu-level-1
    li.level-1.destaque 
        a.link-level-1(href=`#`) Marcas
        ul.menu-level-2
            li.level-2
                a.link-level-2(href=`#`) Feminino
                ul.menu-level-3
                    li.level-3
                        a.link-level-3(href=`#`) Planet Girls
                        ul.menu-level-4 
                            li.level-4
                                a.link-level-4.roupas(href=`#`) Roupas
                            li.level-4
                                a.link-level-4.moda-intima(href=`#`) Moda Íntima
                            li.level-4
                                a.link-level-4.beleza(href=`#`) Beleza
                            li.level-4
                                a.link-level-4.calcados(href=`#`) Calçados
                            li.level-4
                                a.link-level-4.novidades(href=`#`) Novidades
                    li.level-3
                        a.link-level-3(href=`#`) Polo Wear
                        ul.menu-level-4 
                            li.level-4
                                a.link-level-4.roupas(href=`#`) Roupas
                            li.level-4
                                a.link-level-4.acessorios(href=`#`) Acessórios
                            li.level-4
                                a.link-level-4.moda-intima(href=`#`) Moda Íntima
                            li.level-4
                                a.link-level-4.calcados(href=`#`) Calçados
                            li.level-4
                                a.link-level-4.novidades(href=`#`) Novidades
                    li.level-3
                        a.link-level-3(href=`#`) Yanni
                        ul.menu-level-4 
                            li.level-4
                                a.link-level-4.cosmeticos(href=`#`) Cosméticos
                    li.level-3            
                        a.link-level-3(href=`#`) Ver Todos
            li.level-2
                a.link-level-2(href=`#`) Masculino
                ul.menu-level-3
                    li.level-3
                        a.link-level-3(href=`#`) Polo Wear
                        ul.menu-level-4 
                            li.level-4
                                a.link-level-4.roupas(href=`#`) Roupas
                            li.level-4
                                a.link-level-4.acessorios(href=`#`) Acessórios
                            li.level-4
                                a.link-level-4.moda-intima(href=`#`) Moda Íntima
                            li.level-4
                                a.link-level-4.calcados(href=`#`) Calçados
                            li.level-4
                                a.link-level-4.novidades(href=`#`) Novidades
                    li.level-3
                        a.link-level-3(href=`#`) Yanni
                        ul.menu-level-4 
                            li.level-4
                                a.link-level-4.cosmeticos(href=`#`) Cosméticos
                    li.level-3            
                        a.link-level-3(href=`#`) Ver Todos
            li.level-2
                a.link-level-2(href=`#`) Kids
                ul.menu-level-3
                    li.level-3
                        a.link-level-3(href=`#`) Planet Girls
                        ul.menu-level-4 
                            li.level-4
                                a.link-level-4.roupas(href=`#`) Roupas
                            li.level-4
                                a.link-level-4.acessorios(href=`#`) Acessórios
                            li.level-4
                                a.link-level-4.moda-intima(href=`#`) Moda Íntima
                            li.level-4
                                a.link-level-4.calcados(href=`#`) Calçados
                            li.level-4
                                a.link-level-4.novidades(href=`#`) Novidades
                    li.level-3
                        a.link-level-3(href=`#`) Polo Wear
                        ul.menu-level-4 
                            li.level-4
                                a.link-level-4.roupas(href=`#`) Roupas
                            li.level-4
                                a.link-level-4.acessorios(href=`#`) Acessórios
                            li.level-4
                                a.link-level-4.moda-intima(href=`#`) Moda Íntima
                            li.level-4
                                a.link-level-4.calcados(href=`#`) Calçados
                            li.level-4
                                a.link-level-4.novidades(href=`#`) Novidades
                    li.level-3            
                        a.link-level-3(href=`#`) Ver Todos
            li.level-2
                a.link-level-2(href=`#`) Cosméticos
                ul.menu-level-3
                    li.level-3
                        a.link-level-3(href=`#`) Yanni
                        ul.menu-level-4 
                            li.level-4
                                a.link-level-4.cosmeticos(href=`#`) Cosméticos
                    li.level-3            
                        a.link-level-3(href=`#`) Ver Todos
        li.level-1
            a.link-level-1(href=`#`) Feminino
            ul.menu-level-2
                li.level-2
                    a.link-level-2(href=`#`) Marcas
                    ul.menu-level-3
                        li.level-3
                            a.link-level-3(href=`#`) Polo Wear
                        li.level-3
                            a.link-level-3(href=`#`) Planet Girls
                        li.level-3
                            a.link-level-3(href=`#`) Yanni
                li.level-2
                    a.link-level-2.roupas(href=`#`) Roupas
                li.level-2
                    a.link-level-2.moda-intima(href=`#`) Moda Íntima
                li.level-2
                    a.link-level-2.beleza(href=`#`) Beleza
                li.level-2
                    a.link-level-2.calcados(href=`#`) Calçados
                li.level-2
                    a.link-level-2.acessorios(href=`#`) Acessórios
                li.level-2
                    a.link-level-2.novidades(href=`#`) Novidades
        li.level-1
            a.link-level-1(href=`#`) Masculino
            ul.menu-level-2
                li.level-2
                    a.link-level-2(href=`#`) Marcas
                    ul.menu-level-3
                        li.level-3
                            a.link-level-3(href=`#`) Polo Wear
                        li.level-3
                            a.link-level-3(href=`#`) Yanni
                li.level-2
                    a.link-level-2.roupas(href=`#`) Roupas
                li.level-2
                    a.link-level-2.moda-intima(href=`#`) Moda Íntima
                li.level-2
                    a.link-level-2.calcados(href=`#`) Calçados
                li.level-2
                    a.link-level-2.acessorios(href=`#`) Acessórios
                li.level-2
                    a.link-level-2.novidades(href=`#`) Novidades
        li.level-1
            a.link-level-1(href=`#`) Kids
            ul.menu-level-2
                li.level-2
                    a.link-level-2(href=`#`) Marcas
                    ul.menu-level-3
                        li.level-3
                            a.link-level-3(href=`#`) Polo Wear
                        li.level-3
                            a.link-level-3(href=`#`) Planet Girls
                        li.level-3
                            a.link-level-3(href=`#`) Yanni
                li.level-2
                    a.link-level-2.roupas(href=`#`) Roupas
                li.level-2
                    a.link-level-2.moda-intima(href=`#`) Moda Íntima
                li.level-2
                    a.link-level-2.calcados(href=`#`) Calçados
                li.level-2
                    a.link-level-2.acessorios(href=`#`) Acessórios
                li.level-2
                    a.link-level-2.novidades(href=`#`) Novidades
        li.level-1
            a.link-level-1(href=`#`) Cosméticos
            ul.menu-level-2
                li.level-2
                    a.link-level-2(href=`#`) Marcas
                    ul.menu-level-3
                        li.level-3
                            a.link-level-3(href=`#`) Yanni