<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="Store-Desktop-Head" />
    <vtex:template id="Store-Common-Styles" />
    <link rel="stylesheet" href="/arquivos/lp-linha-vitamina-c.css?v=19" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.24/themes/base/jquery-ui.css" />
    <vtex:contentPlaceHolder id="title" />
</head>

<body id="topo">
    <vtex:template id="Store-Desktop-Header" />

    <main>       
    <input id="___rc-p-id" type="hidden" value="71850900"/>
    <input id="___rc-p-sku-ids" type="hidden" value="71850900"/>  
        <div>
            <div>
                <vtex:contentPlaceHolder id="Banner da categoria" />
            </div>
            <div class="container">
                <section class="d-flex img-products">
                    <article class="col-img-product">
                        <div class="col-2 miniaturas">
                            <ul>
                                <li><img src="https://payottatix.vteximg.com.br/arquivos/1_Sabonete-thumb.jpg" alt="Imagem Sabonete Detox" /></li>
                                <li><img src="https://payottatix.vteximg.com.br/arquivos/2_Sabonete-thumb.jpg" alt="Imagem Sabonete Detox" /></li>
                                <li><img src="https://img.youtube.com/vi/v6xJRwLO7I4/default.jpg" alt="Imagem Sabonete Detox" data-video="v6xJRwLO7I4"/>
                                </li>
                                <li><img src="https://img.youtube.com/vi/nqopCC8s6gg/default.jpg" alt="Imagem Sabonete Detox" data-video="nqopCC8s6gg"/></li>
                                <li><img src="https://img.youtube.com/vi/FN6amrSZiuQ/default.jpg" alt="Imagem Sabonete Detox" data-video="FN6amrSZiuQ"/></li>
                            </ul>
                        </div>
                        <div class="col-10 img-principal">
                            <img src="https://payottatix.vteximg.com.br/arquivos/1_Sabonete-thumb.jpg" alt="Imagem Sabonete Detox"/>
                        </div>
                    </article>
                    <article class="col-info-product d-block">
                        <div class="col-12 d-block">
                            <div class="infos-vita-c">
                            <h2 class="title-product fn productName">SABONETE DETOX</h2>
                            <p class="preco-de"></p>
                            <p class="preco-por">Por R$</p>
                            <p class="parcelamento"></p>
                            <div class="buy-box">
                                <span class="add-menos"></span><input type="tel" id="qtd" value="1" min="1"/><span class="add-mais"></span>
                                <span class="buy-buttom-lp-linha-vit-c">ADICIONAR AO CARRINHO</span>
                                <input type="hidden" id="idSku"/>
                            </div>
                            </div>
                            <div class="box-teste">
                                <p>Além de higienizar a pele colabora para o aumento e permanência da hidratação cutânea, complementando os benefícios antirradicais livres da VITAMINA C.</p>
                            </div>
                            <div class="beneficios-linha-vit-c">
                                <img src="https://payottatix.vteximg.com.br/arquivos/new-infos-vita-c.png" alt="Beneficios Sabonete Detox" />
                            </div>
                        </div>
                    </article>
                </section>
                <section class="d-block">
                    <article class="sel-product-list">
                        <ul>
                            <li id="item-71850900 active" class="item-71850900 active">
                                <img src="https://payottatix.vteximg.com.br/arquivos/lp-vita-c-sabonete-1.jpg" alt="Sabonete Detox"/>
                                <p>Sabonete Detox<br/>Hidratante</p>
                            </li>
                            <li id="item-71850923" class="item-71850923">
                                <img src="https://payottatix.vteximg.com.br/arquivos/lp-vita-c-tonico-2.jpg" alt="Tônico Facial"/>
                                <p>Tônico Facil<br/>Revitalizante</p>
                            </li>
                            <li id="item-57117951" class="item-57117951">
                                <img src="https://payottatix.vteximg.com.br/arquivos/lp-vita-c-complexo-3.jpg" alt="Complexo Vitamina C"/>
                                <p>Serum Oil Free<br/>Vitamina C</p>
                            </li> 
                            <li id="item-71850883" class="item-71850883">
                                <img src="https://payottatix.vteximg.com.br/arquivos/lp-vita-c-olhos-4.jpg" alt="Serum área dos olhos"/>
                                <p>Serum Área<br/>dos olhos</p>
                            </li>
                            <li id="item-71850946" class="item-71850946">
                                <img src="https://payottatix.vteximg.com.br/arquivos/lp-vita-c-hidratante-5.jpg" alt="Hidratante corporal"/>
                                <p>Hidratante<br/>Corporal Nutritivo</p>
                            </li>
                            <li id="item-71850947" class="item-71850947"> 
                                <img src="https://payottatix.vteximg.com.br/arquivos/v2_FamiliaVitC.png" alt="Kit Família"/>
                                <p>KIT FAMÍLIA<br/>VITAMINA C + NECESSAIRE</p>
                            </li>  
                        </ul>
                    </article>
                </section>
            </div>
            <section>
                <article class="info-product">
                    <div id="tabs">
                        <ul>
                          <li><a href="#tabs-descricao">DESCRIÇÃO DO PRODUTO</a></li>
                          <li><a href="#tabs-lista">LISTA DE INGREDIENTES</a></li>
                          <li><a href="#tabs-uso">MODO DE USO</a></li>
                        </ul>
                        <div id="tabs-descricao">
                          <p>Descrição</p>
                        </div>
                        <div id="tabs-lista">
                          <p>Lista de ingredientes.</p>
                        </div>
                        <div id="tabs-uso">
                          <p>Modo de uso.</p>
                        </div>
                      </div>
                </article>
                <div class="banner-bottom-vita">
                    <vtex:contentPlaceHolder id="Imagem Conteudo" />                    
                </div>

            </section>
            <!--<section class="box-skincare">-->
            <!--    <h2 class="title-skincare">Confira como fazer seu skincare corretamente</h2>-->
            <!--    <vtex:contentPlaceHolder id="Video Skincare" />-->
            <!--</section>-->
            
        </div>

        <iframe width="100%" height="600" style="display:block !important" src="https://www.youtube.com/embed/oqgF22kLqB0" frameborder="0" allowfullscreen=""></iframe>

        <div id="yv-reviews"></div>
        <div class="yv-qa"></div>

    </main>

    <vtex:template id="Store-Desktop-Footer" />
    <vtex:template id="Store-Common-Scripts" />
    <vtex:template id="Store-Desktop-Scripts" />
    <script src="/arquivos/lp-linha-vitamina-c.js"></script>
    <script src="//code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
    <script>
        $(function(){$("#tabs").tabs();});
    </script>
</body>
</html>