<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="Store-Desktop-Head" />
    <vtex:template id="Store-Common-Styles" />
    <link rel="stylesheet" href="/arquivos/lp-upderm.css"/>
    <vtex:contentPlaceHolder id="title" />
</head>

<body id="topo">
    <vtex:template id="Store-Desktop-Header" />

    <main>
        <div>

            <div class="banner-principal">
                <vtex:contentPlaceHolder id="Banner da categoria" />
            </div>

            <div class="container">
                <vtex:contentPlaceHolder id="Titulo da LP" />
                <div class="Title">
                    <p >
                        UPDERM HIALURÔNICO
                    </p>
                </div>
                <section class="d-flex img-products d-block">
                    <article class="col-img-product d-block">
                        <div class="col-2 miniaturas">
                            <ul>
                                <li>
                                    <img src="https://payottatix.vteximg.com.br/arquivos/upderm-01.png"
                                        alt="Imagem Kit UPDERM" />
                                </li>
                                <li>
                                    <img src="https://payottatix.vteximg.com.br/arquivos/ids/156944_2/Upderm-02.png"
                                        alt="Imagem Kit UPDERM" />
                                </li>
                                <li>
                                    <img src="https://payottatix.vteximg.com.br/arquivos/ids/156945_2/upderm-03.png"
                                        alt="Imagem Kit UPDERM" />
                                </li>
                                <li>
                                    <img src="https://payottatix.vteximg.com.br/arquivos/ids/156944_2/Upderm-02.png"
                                        alt="Imagem Kit UPDERM" />
                                </li>
                            </ul>
                        </div>
                        <div class="col-10 img-principal">
                            <img src="https://payottatix.vteximg.com.br/arquivos/ids/156943/upderm-01.png?v=637619610346900000"
                                alt="Imagem UPDERM HIALURÔNICO PAYOT" />
                        </div>
                    </article>
                    <article class="col-info-product d-block">
                        <div class="col-12 d-block">
                            <h2 class="title-cor">UPDERM HIALURÔNICO</h2>
                            <p class="preco-de"></p>
                            <p class="preco-por"></p>
                            <p class="parcelamento"></p>
                            <div class="buy-box">
                                <span class="add-menos"></span><input type="tel" id="qtd" value="1" min="1" /><span
                                    class="add-mais"></span>
                                <span class="buy-buttom-lp-upderm-hialuronico">ADICIONAR AO CARRINHO</span>
                                <input type="hidden" id="idSku" />
                            </div>
                            <ul class="especificacoes-upderm-hialuronico d-flex">
                                <li><img src="/arquivos/up-vegano.png" alt="Especificações Upderm" />
                                    <!--<span>Vegano</span>-->
                                </li>
                                <li><img src="/arquivos/up-animals.png" alt="Especificações Upderm" />
                                    <!--<span>Não testado em animais</span>-->
                                </li>
                                <li><img src="/arquivos/up-oilfree.png" alt="Especificações Upderm" />
                                    <!--<span>Livre de óleo</span>-->
                                </li>
                                <li><img style="width: 70px;" src="/arquivos/up-lifting.png"
                                        alt="Especificações Upderm" />
                                    <!--<span>Lifting imediato</span>-->
                                </li>
                                <li><img src="/arquivos/up-rugas.png" alt="Especificações Upderm" />
                                    <!--<span>Menos rugas</span>-->
                                </li>
                                <li><img style="width: 70px;" src="/arquivos/up-pelefirme.png"
                                        alt="Especificações Upderm" />
                                    <!--<span>Pele mais firme</span>-->
                                </li>
                                <li><img src="/arquivos/up-hidratacao.png" alt="Especificações Upderm" />
                                    <!--<span>Hidratação</span>-->
                                </li>
                                <li><img style="width: 73px;" src="/arquivos/up-acido.png"
                                        alt="Especificações Upderm" />
                                    <!--<span>Ácido hialurônico</span>-->
                                </li>
                            </ul>
                        </div>
                    </article>
                </section>
                <section>
                    <vtex:contentPlaceHolder id="Imagem Conteudo" />
                </section>
            </div>
            <section class="information" style="display: none;">
                <div class="container">
                    <div class="information-col">
                        <h2 class="title-cor">
                            PARA UMA ROTINA COMPLETA, <br /> LEVE JUNTO
                        </h2>
                        <ul class="especificacoes-upderm-hialuronico d-flex">
                            <li>
                                <a href="https://www.lojapayot.com.br/agua-micelar-payot-demaquilante/p">
                                    <img
                                        src="https://payottatix.vteximg.com.br/arquivos/ids/155681-1000-1000/3931.jpg" />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.lojapayot.com.br/locao-tonica-payot-multifuncional/p">
                                    <img
                                        src="https://payottatix.vteximg.com.br/arquivos/ids/155618-1000-1000/Locao_Multifuncional_Easy-Resize.com.jpg" />
                                </a>
                            </li>
                            <li><a href="https://www.lojapayot.com.br/gel-creme-hidratante-payot-antifatigue/p">
                                    <img
                                        src="https://payottatix.vteximg.com.br/arquivos/ids/155608-1000-1000/3988.jpg" />
                                </a>
                            </li>
                            <li><a href="https://www.lojapayot.com.br/protetor-facial-diario-payot-city-care/p">
                                    <img
                                        src="https://payottatix.vteximg.com.br/arquivos/ids/155595-1000-1000/3783.jpg" />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.lojapayot.com.br/framb-rays-payot-hidratante/p">
                                    <img
                                        src="https://payottatix.vteximg.com.br/arquivos/ids/155867-1000-1000/Framb_Rays_Payot_Hidratante_408.jpg" />
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </section>
        </div>
    </main>

    <div class="js--scroll-top">
        <a href="#topo">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <rect width="32" height="32" fill="#707070" opacity="0.6" />
                <path d="M32.954,314.685l14.718,13.8-14.2,13.428" transform="translate(-312.044 56.313) rotate(-90)"
                    fill="none" stroke="#fff" stroke-width="4" />
            </svg>
        </a>
    </div>

    <vtex:template id="Store-Desktop-Footer" />
    <vtex:template id="Store-Common-Scripts" />
    <vtex:template id="Store-Desktop-Scripts" />
    <script src="/arquivos/lp-upderm3.js"></script>

</body>

</html>