extends ../../layout/index.pug

//- Template variables
block vars
    - var $templateName = 'Login';
    - var $templateClass = 'sm-login';
//- Page styles
block append styles

//- Main Content
block content
    
block append scripts