<ul class="j-menu">
    <li class="j-menu__item">
        <a href="/cuidados-com-a-pele">
            <div class="itemLabel">Cuidados com a Pele</div>
        </a>
        <div class="j-menu__item--sub">
            <div class="container">
                <div class="j-menu__item--sub-box">
                    <div class="j-menu__item--sub-box-item">
                        <ul>
                            <li class="j-menu__item--sub-box-item-lead">
                                <a href="/cuidados-com-a-pele/dermocosmeticos">Dermocosméticos</a>
                            </li>
                            <li>
                                <a href="/cuidados-com-a-pele/dermocosmeticos/limpeza-e-tonificacao">Limpeza e Tonificação</a>
                            </li>
                            <li>
                                <a href="/cuidados-com-a-pele/dermocosmeticos/hidratacao-e-prevencao">Hidratação e Prevenção</a>
                            </li>
                            <li>
                                <a href="/cuidados-com-a-pele/dermocosmeticos/protecao-solar">Proteção Solar</a>
                            </li>
                            <li>
                                <a href="/cuidados-com-a-pele/dermocosmeticos/Linha vitamina C">Linha vitamina C</a>
                            </li>
                        </ul>
                    </div>
                    <div class="j-menu__item--sub-box-item">
                        <ul>
                            <li class="j-menu__item--sub-box-item-lead">
                                <a href="/cuidados-com-a-pele/maternite">Maternité</a>
                            </li>
                            <li>
                                <a href="/cuidados-com-a-pele/maternite/hidratantes-antiestrias">Hidratantes Antiestrias</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <li class="j-menu__item">
        <a href="/cabelo">
            <div class="itemLabel">Cabelo</div>
        </a>
        <div class="j-menu__item--sub">
            <div class="container">
                <div class="j-menu__item--sub-box">
                    <div class="j-menu__item--sub-box-item">
                        <ul>
                            <li class="j-menu__item--sub-box-item-lead">
                                <a href="/cabelo/tratamento-cosmetico-capilar"> Tratamento Cosmético Capilar</a>
                            </li>
                            <li>
                                <a href="/cabelo/tratamento-cosmetico-capilar/shampoo">Shampoo</a>
                            </li>
                            <li>
                                <a href="/cabelo/tratamento-cosmetico-capilar/condicionador">Condicionador</a>
                            </li>
                        </ul>
                    </div>
                    <div class="j-menu__item--sub-box-item">
                        <ul>
                            <li class="j-menu__item--sub-box-item-lead">
                                <a href="/cabelo/botanico">Botânico</a>
                            </li>
                            <li>
                                <a href="/cabelo/botanico/shampoo">Shampoo</a>
                            </li>
                            <li>
                                <a href="/cabelo/botanico/condicionador">Condicionador</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <li class="j-menu__item">
        <a href="/maquiagem">
            <div class="itemLabel">Maquiagem</div>
        </a>
        <div class="j-menu__item--sub">
            <div class="container">
                <div class="j-menu__item--sub-box">
                    <div class="j-menu__item--sub-box-item">
                        <ul>
                            <li class="j-menu__item--sub-box-item-lead">
                                <a href="/maquiagem/boca">Boca</a>
                            </li>
                            <li>
                                <a href="/maquiagem/boca/batom">Batom</a>
                            </li>
                            <!-- <li>
                                <a href="/maquiagem/boca/lapis-para-labios">Lapís para Lábios</a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="j-menu__item--sub-box-item">
                        <ul>
                            <li class="j-menu__item--sub-box-item-lead">
                                <a href="/maquiagem/olhos">Olhos</a>
                            </li>
                            <li>
                                <a href="/maquiagem/olhos/lapis">Lápis</a>
                            </li>
                            <li>
                                <a href="/maquiagem/olhos/delineador">Delineador</a>
                            </li>
                            <li>
                                <a href="/maquiagem/olhos/sombras">Sombras</a>
                            </li>
                            <li>
                                <a href="/maquiagem/olhos/mascara">Máscara para Cílios</a>
                            </li>
                        </ul>
                    </div>
                    <div class="j-menu__item--sub-box-item">
                        <ul>
                            <li class="j-menu__item--sub-box-item-lead">
                                <a href="/maquiagem/pele">Pele</a>
                            </li>
                            <li>
                                <a href="/maquiagem/pele/base-mate-hd">Base Mate HD</a>
                            </li>
                            <li>
                                <a href="/maquiagem/pele/base-hidratante">Base Hidratante</a>
                            </li>
                            <li>
                                <a href="/maquiagem/pele/corretivo">Corretivo</a>
                            </li>
                            <li>
                                <a href="/maquiagem/pele/primer">Primer</a>
                            </li>
                            <li>
                                <a href="/maquiagem/pele/po-facial">Pó Facial</a>
                            </li>
                            <!-- <li>
                                <a href="/maquiagem/pele/pan-cake">Pan Cake</a>
                            </li> -->
                            <!-- <li>
                                <a href="/maquiagem/pele/duo-cake">Duo Cake</a>
                            </li> -->
                            <li>
                                <a href="/maquiagem/pele/blush">Blush</a>
                            </li>
                            <li>
                                <a href="/maquiagem/pele/demaquilante">Demaquilante</a>
                            </li>
                        </ul>

                    </div>
                    <div class="j-menu__item--sub-box-item">
                        <ul>
                            <li class="j-menu__item--sub-box-item-lead">
                                <a href="/maquiagem/sobrancelhas">Sobrancelhas</a>
                            </li>
                            <li>
                                <a href="/maquiagem/sobrancelhas/lapis-para-sobrancelhas">Lápis para Sobrancelhas</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="j-menu__item">
        <a href="/Paletas-Ale-Souza-Trio">
            <div class="itemLabel">Ale de Souza</div>
        </a>
        <div class="j-menu__item--sub">
            <div class="container">
            <div class="j-menu__item--sub-box">
                <div class="j-menu__item--sub-box-item">
                <ul>
                    <li class="j-menu__item--sub-box-item-lead">
                    <a href="/ale-de-souza/olhos">Olhos</a>
                    </li>
                    <li>
                    <a href="/paletas-sombra-rosesforus-itsbrown-aledesouza">Paleta de Sombras</a>
                    </li>
                </ul>
                </div>
                <div class="j-menu__item--sub-box-item">
                <ul>
                    <li class="j-menu__item--sub-box-item-lead">
                    <a href="/ale-de-souza/pele">Pele</a>
                    </li>
                    <li>
                    <a href="/ale-de-souza/pele/contorno">Contorno</a>
                    </li>
                    <li>
                    <a href="/ale-de-souza/pele/blush">Blush</a>
                    </li>
                    <li>
                    <a href="/ale-de-souza/pele/multieffect">MultiEffect</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </div>
    </li>
    <li class="j-menu__item">
        <a href="/boca-rosa" class="pink">Boca Rosa by Payot</a>
        <div class="j-menu__item--sub">
            <div class="container">
                <div class="j-menu__item--sub-box">
                    <div class="j-menu__item--sub-box-item">
                        <ul>
                            <li class="j-menu__item--sub-box-item-lead">
                                <a href="/boca-rosa-produtos/boca">Boca</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/boca/batom-liquido-mate">Batom Líquido Mate</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/boca/gloss">Gloss</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/boca/lip-tint">Lip Tint</a>
                            </li>
                        </ul>
                    </div>
                    <div class="j-menu__item--sub-box-item">
                        <ul>
                            <li class="j-menu__item--sub-box-item-lead">
                                <a href="/boca-rosa-produtos/olhos">Olhos</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/olhos/caneta-delineadora">Caneta Delineadora</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/olhos/glitter">Glitter</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/olhos/lapiseira-retratil">Lapiseira Retrátil</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/olhos/mascara-para-cilios">Máscara para Cílios</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/olhos/paleta-de-sombras">Paleta de Sombras</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/olhos/delineador">Delineador</a>
                            </li>
                        </ul>
                    </div>
                    <div class="j-menu__item--sub-box-item">
                        <ul>
                            <li class="j-menu__item--sub-box-item-lead">
                                <a href="/boca-rosa-produtos/pele">Pele</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/pele/base">Base</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/pele/corretivo">Corretivo</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/pele/blush">Blush</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/pele/contorno">Contorno</a>
                            </li>
                            <li>
                                <a href="/boca-rosa-produtos/pele/iluminador">Iluminador</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="j-menu__item">
        <a href="/outlet" class="itemLabel">Outlet</a>
    </li>
</ul>