<div class="lead-overlay" id="lead-overlay"></div>
<div class="lead-modal" id="lead-modal">
    <div class="lead-banner">
        <div class="lead-modal-close-btn" id="close-btn">X</div>
        <div class="lado1"></div>
        <div class="lado2">
            <div class="lead-texts">
                <h3>
                    Cadastre-se
                </h3>
                <p>Para receber novidades!</p>
            </div>            
            <form id="form-leads-home">
                <div>
                        <input type="email" name="leadEmail" id="leadEmail" placeholder="E-mail">
                        <input type="text" name="leadNome" id="leadNome" placeholder="Nome">
                        <input type="text" onfocus="(this.type='date')" name="leadNascimento" id="leadNascimento" placeholder="Data de Nascimento">
                        <input type="text" name="leadTelefone" id="leadTelefone" placeholder="Telefone">                            
                </div>
                <div class="lead-modal-send-btn" id="send-btn">
                    Enviar
                </div>
                <div class="lead-modal-send-btn success">
                    Cadastro realizado!
                </div>                
                <div class="lead-modal-send-btn fail">
                    Houve uma falha técnica. Tente Novamente.
                </div>
            </form>       
        </div>
    </div>
</div>
<script src="/arquivos/popup-home.js"></script>
<script src="https://cdn.rawgit.com/lagden/vanilla-masker/lagden/build/vanilla-masker.min.js"></script>
