:root{
    --white: #FFFFFF;
    --black: #000000;
    --ice-gray: #F2F2F2;
    --ice: #FCFCFC;
    --light-gray: #fcfcfc;
    --transparent-black:rgba(0, 0, 0, 0.7);
    --full-darked-gray: #43464E;
    --darked-gray: #737373;
    --gray: #9B9B9B;
    --clear-gray: #AEAEAE;
    --gray-blue: #EDEFFF;
    --greenest-blue: #EDFFFE;
    --clear-greenest-blue: #EDF9FF;
    --greened-blue: #E2F3FF;
    --baby-blue: #00F0FF;
    --blue: #0082FA;
    --clear-blue: #009DDE;
    --clearer-blue: #0E9AFF;
    --clearest-blue: #EDFFFE;
    --darked-blue: #365FF7;
    --dark-blue: #272FF5;
    --sea-blue: #4053FF;
    --clear-sea-blue: #6675ff;
    --darkest-blue: #100168;
    --purple: #5A40FB;
    --clear-purple: #7C93E7;
    --green: #00B8A7;
    --darked-green: #01B3A2;
}