main.sm-home-main{
    background-color: var(--ice-white);
    @include d(ipad){
        background-color: var(--color-white);
    }
    section{
        figure{
            .wrapper{
                padding: 0;
                position: relative;
                .banner-carousel{
                    position: relative;
                    .box-banner{
                        a{
                            img{
                                margin-bottom: -4px;
                                width: 100%;
                                max-width: 100%;
                                height: auto;
                            }
                        }
                    }
                    ul.slick-dots{
                        @include flexbox;
                        @include justify-content(center);
                        position: absolute;
                        bottom: 10px;
                        width: 100%;
                        li{
                            button{
                                font-size: 0;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                background: var(--color-white);
                                @include t(.3s);
                                margin: 0 5px;
                                @include d(celularLarge){
                                    width: 10px;
                                    height: 10px;
                                }
                            }
                            &.slick-active{
                                button{
                                    width: 45px;
                                    height: 15px;
                                    border-radius: 15px;
                                    @include d(celularLarge){
                                        width: 35px;
                                        height: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .section-categorias-gerais{
            max-width: 1600px;
            margin: 2em auto;
            @include d(hdplus){
                padding: 0 4em;
            }
            @include d(ipadPro){
                padding: 0 1em;
            }
            @include d(ipad){
                padding: 0;
            }
            @include d(celularLarge){
                overflow-x: auto;
                margin-bottom: 1em;
            }
            .wrapper{
                @include flexbox;
                @include justify-content(space-between);
                @include align-items(center);
                @include d(ipad){
                    @include flex-wrap(wrap);
                    padding: 0;
                }
                @include d(celularLarge){
                    width: 768px;
                    padding-bottom: 1em;
                }
                .box-banner{
                    min-width: 150px;
                    @include d(hdplus){
                        min-width: 120px;
                    }
                    @include d(hd){
                        min-width: 90px;
                    }
                    @include d(ipad){
                        min-width: 140px;
                        margin: 10px 0;
                    }
                    a{
                        @include flexbox;
                        @include align-items(center);
                        @include flex-flow(column);
                        img{
                            max-width: 75px;
                            @include d(hdplus){
                                max-width: 50px;
                            }
                        }
                        p{
                            font-size: 12px;
                            margin-top: 10px;
                            font-family: 'Montserrat', sans-serif;
                            @include d(hdplus){
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
        .vitrines-duplas{
            max-width: 1600px;
            margin: 2em auto;
            @include d(hdplus){
                margin: 2em 4em;
            }
            @include d(ipadPro){
                margin: 1em 1em;
            }
            .wrapper{
                @include flexbox;
                @include justify-content(space-between);
                @include d(ipad){
                    @include flex-flow(column);
                    padding: 0;
                }
                .prod-left{
                    padding: 1em 0;
                    background: var(--color-white);
                    width: 100%;
                    margin-right: 2em;
                    padding-bottom: 2em;
                    @include d(ipadPro){
                        margin-right: 1em;
                    }
                    @include d(ipad){
                        border: 1px solid var(--color-gray-nav);
                        border-radius: 10px;
                    }
                    .vitrine-content{
                        @include flexbox;
                        @include justify-content(space-between);
                        margin-top: 4em;
                        padding: 0 1em;
                        @include d(celularLarge){
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            margin-top: 1em;
                        }
                        .box-banner{
                            @include t(.3s);
                            &:hover{
                                transform: scale(1.03);
                            }
                        }
                    }
                }
                .prod-right{
                    background: var(--color-white);
                    padding: 1em 0;
                    padding-bottom: 2em;
                    width: 100%;
                    @include d(ipad){
                        margin-top: 1em;
                        border: 1px solid var(--color-gray-nav);
                        border-radius: 10px;
                    }
                    .vitrine-content{
                        .sm-prateleira{
                            max-width: 400px;
                            margin: auto;
                            ul{
                                li{
                                    display: flex !important;
                                    @include justify-content(center);
                                    .sm-product{
                                        @include d(celularLarge){
                                            border: none;
                                            @include flex-flow(row);
                                            min-height: initial;
                                            width: 340px;
                                        }
                                        @include d(celularMediumLarge){
                                            width: 295px;
                                        }
                                        .data{
                                            @include d(celularLarge){
                                                padding: 15px;
                                                @include flexbox;
                                                @include flex-flow(column);
                                            }
                                            h3{
                                                @include d(celularLarge){
                                                    text-align: left;
                                                    order: 3;
                                                    margin-bottom: 0;
                                                }
                                            }
                                            .price{
                                                a{
                                                    @include d(celularLarge){
                                                        @include flexbox;
                                                        @include align-items(center);
                                                    }
                                                    .newPrice{
                                                        @include d(celularLarge){
                                                            text-align: left;
                                                            margin-bottom: 0;
                                                            font-size: 13px;
                                                            margin-right: 5px;
                                                            font-weight: 700;
                                                            color: var(--color-gray-dark);
                                                        }
                                                    }
                                                    .installment{
                                                        @include d(celularLarge){
                                                            text-align: left;
                                                            font-weight: 700;
                                                            color: var(--color-gray-line);
                                                        }
                                                    }
                                                }                                                
                                            }
                                        }
                                        .sm-image{
                                            a{
                                                img{
                                                    @include d(celularLarge){
                                                        max-width: 80px;
                                                    }
                                                }
                                            }
                                        }
                                        .sm-actions{
                                            bottom: -40px;
                                            @include d(celularLarge){
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.ofertas{
                .wrapper{
                    .prod-left{
                        padding-bottom: 0;
                        .vitrine-content{
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            padding: 0;
                            margin: 0;
                            .box-banner{
                                border: 1px solid var(--color-gray-nav);
                                padding: 3.6em 5em;
                                @include d(hdplus){
                                    padding: 2em;
                                }
                                @include d(ipadPro){
                                    padding: 3em 2em;
                                }
                                @include d(celularLarge){
                                    padding: 10px;
                                }
                                a{
                                    @include flexbox;
                                    @include align-items(center);
                                    @include justify-content(space-between);
                                    p{
                                        margin-right: 1em;
                                        font-family: 'Montserrat', sans-serif;
                                        font-size: 25px;
                                        @include d(hdplus){
                                            font-size: 18px;
                                        }
                                        @include d(ipadPro){
                                            font-size: 14px;
                                        }
                                        @include d(celularLarge){
                                            font-size: 12px;
                                        }
                                        &:after{
                                            content: "";
                                            display: block;
                                            width: 0%;
                                            height: 3px;
                                            background: var(--color-orange);
                                            @include t(.3s);
                                            margin-top: 5px;
                                        }
                                    }
                                    &:hover{
                                        p{
                                            &:after{
                                               width: 100%;
                                            }
                                        }
                                    }
                                    img{
                                        max-width: 150px;
                                        border-radius: 10px;
                                        @include d(ipadPro){
                                            max-width: 80px;
                                        }
                                        @include d(celularMediumLarge){
                                            max-width: 60px;
                                        }
                                    }
                                }
                                &:nth-of-type(1){
                                    border-bottom: none;
                                    border-left: none;
                                    border-right: none;
                                }
                                &:nth-of-type(2){
                                    border-left: 1px solid var(--color-gray-nav);
                                    border-right: none;
                                }
                                &:nth-of-type(3){
                                    border-left: none;
                                    border-right: none;
                                    border-bottom: none;
                                }
                                &:nth-of-type(4){
                                    border-top: none;
                                    border-right: none;
                                    border-bottom: none;
                                }
                                &:hover{
                                    transform: none;
                                }
                            }
                        }
                    }
                    .prod-right{
                        .vitrine-content{
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            @include d(ipad){
                                grid-template-columns: repeat(4, 1fr);
                            }
                            @include d(celularLarge){
                                margin-top: 1em;
                            }
                            .box-banner{
                                @include flexbox;
                                @include flex-flow(column);
                                @include align-items(center);
                                a{
                                    @include d(celularLarge){
                                        @include flexbox;
                                        @include flex-flow(column);
                                        @include align-items(center);
                                    }
                                    img{
                                        @include d(hdplus){
                                            max-width: 90px;
                                        }
                                        @include d(ipadPro){
                                            max-width: 70px;
                                        }
                                        @include d(celularLarge){
                                            max-width: 75px;
                                        }
                                        @include d(celularMediumLarge){
                                            max-width: 55px;
                                        }
                                    }
                                    p{
                                        margin: 19px auto;
                                        font-family: 'Montserrat' ,sans-serif;
                                        font-size: 15px;
                                        max-width: 100px;
                                        text-align: center;
                                        @include d(hdplus){
                                            font-size: 12px;
                                        }
                                        @include d(celularLarge){
                                            max-width: 80px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .section-banners-triplos{
            max-width: 1600px;
            margin: auto;
            @include d(hdplus){
                margin: auto 4em;
            }
            @include d(ipadPro){
                margin: auto 1em;
            }
            @include d(ipad){
                margin-right: 0;
            }
            .wrapper{
                @include flexbox;
                @include justify-content(space-between);
                @include d(ipad){
                    padding: 0;
                }
                .slick-list{
                    @include d(ipad){
                        padding-left: 0 !important;
                    }
                }
                .box-banner{
                    max-width: 100%;
                    @include d(hdplus){
                        margin: auto 1em;
                    }
                    @include d(ipadPro){
                        margin: auto .5em;
                    }
                    &:first-child{
                        @include d(hdplus){
                            margin-left: 0;
                        }
                        @include d(celularLarge){
                            padding-left: 0em;
                        }
                    }
                    &:last-child{
                        @include d(hdplus){
                            margin-right: 0;
                        }
                        @include d(celularLarge){
                            padding-right: 1em;
                        }
                    }
                }
            }
        }
    }
}