.j-category__bottom {
    width: 100%;
    
    .j-category__grid {

        .main {
            position: relative;
            .bread-crumb {
                position: absolute;
                top: 100%;
            }

            .resultItemsWrapper {
                border-top: 1px solid $color-black;
                padding-top: 16px;
                margin-top: 15px;
            }
        }
    }
}

.j-news-category {
    margin: 30px 0;
}

.is--hide,
.pager,
.searchResultsTime,
.sub .filterBy,
.sub .compare,
.sub:last-child {
    display: none;
}




.noUi-connect {
    background-color: $color-main;
}

.noUi-handle-lower {
    display: none;
}

.noUi-horizontal {
    height: 5px;
    border: 0;
}

.noUi-handle.noUi-handle-upper {
    border-radius: 9px;
    text-align: center;
    width: 79px;
    height: 18px;
    background-color: $color-main;
    font-family: $font-main;
    color: $color-white;
    font-size: 12px;
    box-shadow: none;
    border: 1px solid $color-main;

    &::before,
    &::after {
        display: none;
    }
}

.j-slider__qty {
    font-size: 12px;
    color: $color-black;
}

#j-slider__bar {
    width: 232px;
}

.j-slider__qty-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.noUi-base {
    background-color: $color-darkgray;
}

.j-slider__btn {
    padding: 3px 15px;
    text-align: center;
    background-color: $color-main;
    color: $color-white;
    border-radius: 10px;
}

.j-slider__price-title {
    margin-bottom: 25px !important;
}

.js--filter--price {
    margin: 20px 0;
    display: block;
}