/* ------------------------------------------------------------ *\
	font family
\* ------------------------------------------------------------ */
$font-family-title: "Montserrat", sans-serif;
$font-family-text: "Montserrat", sans-serif;

/* ------------------------------------------------------------ *\
	font size
\* ------------------------------------------------------------ */
$font-size-title: 24px;
$font-size-text: 12px;

/* ------------------------------------------------------------ *\
	color text
\* ------------------------------------------------------------ */
$color-title: #eee809;
$color-text: #3f3948;

$color-green-dark: #dda69d;
$color-green: #b8be94;
$color-green-light: #d2d9a9;
$color-rose-light: #dca399;

$color-green-success: #93b764;
$color-brown-dark: #3d2b1c;
$color-brown: #7b4a2c;
$color-brown-light: #9a7453;
$color-creme: #f5efe6;
$color-creme-light: #fffcf7;
$color-white: #ffffff;
$color-grey: #cecdc8;
$color-black: #000000;
$color-red: #dd4f44;

$color-google: #e64545;
$color-facebook: #3d77e6;

$color-yellow-light: #fffae0;
$color-yellow: #f2ca00;

$color-grey-opacity: #cecdc884;

// Screen

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$font-family-nexa: "Nexa", sans-serif;
