p.fale-conosco Dúvidas? Preencha o formulário abaixo, em breve retornaremos o contato
#formRightFc
  h4 Formulário de contato:
  #formFC
    .first
      .boxCampo
        label Digite seu nome:
        input#fcNome(type='text' name='fcNome')
      .boxCampo
        label Digite seu e-mail:
        input#fcEmail(type='text' name='fcEmail')
    .first
      .boxCampo
        label Telefone
        input#fcTelefone.form-contact-phone(type='tel' name='fcTelefone')
      .boxCampo
        label  Assunto:
        select#form-contact-assunto(placeholder='Assunto' name='form-contact-assunto')
          option(value='0') Selecione
          option(value='Críticas ou sugestões') Críticas ou sugestões
          option(value='Elogios e agradecimentos') Elogios e agradecimentos
          option(value='Dúvidas sobre pedido, pagamento ou prazo de entrega') Dúvidas sobre pedido, pagamento ou prazo de entrega
          option(value='Propostas comerciais') Propostas comerciais
          option(value='Parcerias na internet') Parcerias na internet
          option(value='Cancelamento de Pedido') Cancelamento de Pedido
          option(value='Outros') Outros
    .boxCampo
      label Mensagem:
      textarea#fcMsg(rows='5' name='fcMsg')
    a.enviarForm(href='javascript:void(0);') Enviar