ul.menu-level-1
    li.level-1
        a.link-level-1(href='/busca') Produtos
        ul.menu-level-2
            li.level-2
                a.link-level-2(href='/acucares') Açúcares
                ul.menu-level-2.inside
                    li.level-2
                        a.link-level-2(href='/acucares/acucar-magro') Açúcar Magro
                    li.level-2
                        a.link-level-2(href='/acucares/acucar-mascavo') Açúcar Mascavo
                    li.level-2
                        a.link-level-2(href='/acucares/frutose') Frutose
                    li.level-2
                        a.link-level-2(href='/acucares/gli-instan') Gli-Instan
            li.level-2
                a.link-level-2(href='/adocantes') Adoçantes
                ul.menu-level-2.inside
                    li.level-2
                        a.link-level-2(href='/adocantes/culinario') Culinário
                    li.level-2
                        a.link-level-2(href='/adocantes/eritritol') Eritritol
                    li.level-2
                        a.link-level-2(href='/adocantes/liquido') Líquido
                    li.level-2
                        a.link-level-2(href='/adocantes/pote') Adoçantes em Pote
                    li.level-2
                        a.link-level-2(href='/adocantes/refil-pacote') Refis em Pacote
                    li.level-2
                        a.link-level-2(href='/adocantes/sache') Sachês
                    li.level-2
                        a.link-level-2(href='/adocantes/xilitol') Xilitol
            li.level-2
                a.link-level-2(href='/alimentos') Alimentos
                ul.menu-level-2.inside
                    li.level-2
                        a.link-level-2(href='/alimentos/bala') Balas                 
                    li.level-2
                        a.link-level-2(href='/alimentos/bolo') Bolos
                    li.level-2
                        a.link-level-2(href='/alimentos/Brownie') Brownies
                    li.level-2
                        a.link-level-2(href='/alimentos/creme-de-avela') Cremes de Avelã
                    li.level-2
                        a.link-level-2(href='/alimentos/leite-condensado') Leite Condensado
                    li.level-2
                        a.link-level-2(href='/alimentos/panettone') Panettone
                    li.level-2
                        a.link-level-2(href='/alimentos/sal') Sal
            li.level-2
                a.link-level-2(href='/bebidas') Bebidas
                ul.menu-level-2.inside
                    li.level-2
                        a.link-level-2(href='/bebidas/achocolatado') Achocolatados
                    li.level-2
                        a.link-level-2(href='/bebidas/cha') Chás
                    li.level-2
                        a.link-level-2(href='/bebidas/refresco') Refrescos
            li.level-2
                a.link-level-2(href='/alimentos/biscoito') Biscoitos
            li.level-2
                a.link-level-2(href='/sobremesas') Sobremesas
                ul.menu-level-2.inside
                    li.level-2
                        a.link-level-2(href='/sobremesas/bolo') Bolos
                    li.level-2
                        a.link-level-2(href='/sobremesas/caldas') Caldas
                    li.level-2
                        a.link-level-2(href='/sobremesas/flans') Flans
                    li.level-2
                        a.link-level-2(href='/sobremesas/gelatinas') Gelatinas
                    li.level-2
                        a.link-level-2(href='/sobremesas/manjar') Manjar
                    li.level-2
                        a.link-level-2(href='/sobremesas/mousse') Mousses
                    li.level-2
                        a.link-level-2(href='/sobremesas/pudim') Pudins
            li.level-2
                a.link-level-2(href='/kits') Kits
    li.level-1
        a.link-level-1(href='/novidades') Novidades
        
    li.level-1
        a.link-level-1(href='/exclusivos') Exclusivos
        
    li.level-1
        a.link-level-1(href='/receitas') Receitas
        
    li.level-1
        a.link-level-1(href='/mais-vendidos') Mais Vendidos
    
    li.level-1
        a.link-level-1(href='/food-service') Food Service
