footer 
    section.footer_newsletter
        div.wrapper
            div.newsletter-content
                h3.newsletter-titulo CADASTRE-SE E RECEBA <strong>NOVIDADES EXCLUSIVAS</strong> 
                div.newsletter-form
                    input.newsletter.nome#txt(placeholder="Nome")/
                    input.newsletter.email#txt(placeholder="E-mail")/
                    button.envia-newsletter.btn.btn-enviar#go Enviar
                    div.newsletterceite
                        input#recebimento(type="checkbox")/
                        label.check(for="recebimento") Eu concordo com a Outlet das Marcas armazenar meus dados e entrar em contato comigo. <strong>Política de privacidade do site</strong>
    section.footer_container
        div.wrapper
            div.footer-box.footer-logo
                h1.item-logo
                    a(href=`/`)
                        img(src=`/arquivos/om-footer-logo.png` alt=`Outlet das Marcas`)/
               
            div.footer-box.institucional 
                h3.footer-title Institucionais
                ul.footer-list 
                    li.footer-item 
                        a(href=`/institucional/a-marca`) A Marca
                    li.footer-item 
                        a(href=`/institucional/nossas-lojas`) Nossas lojas
                    li.footer-item 
                        a(href=`/institucional/contato`) Contato
                    li.footer-item 
                        a(href=`/institucional/politica-de-privacidade`) Política de privacidade
            div.footer-box.ajuda
                h3.footer-title Ajuda
                ul.footer-list 
                    li.footer-item 
                        a(href=`/_secure/account/`) Cadastro
                    li.footer-item 
                        a(href=`/_secure/account/#/orders`) Pedidos
                    li.footer-item 
                        a(href=`/institucional/central-de-atendimento`) Central de Atendimento
                    li.footer-item 
                        a(href=`/institucional/regulamento`) Regulamento 
            div.footer-box.mais
                h3.footer-title Mais Outlet das Marcas
                ul.footer-list
                    li.footer-item 
                        a(href=`/institucional/quem-somos`) Quem somos
                    li.footer-item 
                        a(href=`/institucional/trabalhe-conosco`) Trabalhe conosco
            div.footer-box.parcerias
                h3.footer-title Marcas Parceiras
                ul.footer-list
                    li.footer-item 
                        a(href=`https://www.planetgirlsstore.com.br
`) Planet Girls
                    li.footer-item 
                        a(href=`https://www.polowear.com.br`) Polo Wear
                    li.footer-item 
                        a(href=`https://venom.com.br/`) Venom
    section.footer_bottom
        div.wrapper
            div.bottom-content
                div.footer-payments
                    ul.payment-icons 
                        li.visa 
                        li.master
                        li.dinners 
                        li.amex 
                        li.hiper 
                        li.elo 
                        li.boleto
                div.footer-social
                    ul.social-icon
                        li.facebook 
                        li.instagram 
                        li.youtube
            div.footer-end
                p <strong>Polo Wear West Plaza Comercio De Confecções LTDA</strong> Avenida Antártica, 408 - Água Branca - São Paulo - SP - CEP: 05003-020 CNPJ: 29.954.944/0001-80

            