.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

.demo {
font-family: 'Raleway', sans-serif;
    color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
    font-family: 'Raleway', sans-serif;
    color: #000;		
}
#header .logo {
    padding-top: 5px;
}
#header .search .btn-buscar {
    background-color: #ffb760;
}
#nav-store .nav-departament a.level-1:after{
    background: #ffb760;
}
a.level-1[href="/beleza-e-perfumaria/maquiagem/kit-de-maquiagem?PS=45&O=OrderByPriceDESC"]:before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 31.25' x='0' y='0' style='fill:%23ffb760;'%3E%3Cg%3E%3Cpath d='M8,20V16.5A1.5,1.5,0,0,1,9.5,15h6A1.5,1.5,0,0,1,17,16.5V20Zm0,1v1.5a.5.5,0,0,0,.5.5h8a.5.5,0,0,0,.5-.5V21Zm8-7V12.5A1.5,1.5,0,0,0,14.5,11h-4A1.5,1.5,0,0,0,9,12.5V14ZM14.75,2.07A.55.55,0,0,0,14.5,2a4.5,4.5,0,0,0-4.45,4A5.5,5.5,0,0,0,14.75,2.07ZM10,7v3h5V4A6.5,6.5,0,0,1,10,7Z'/%3E%3C/g%3E%3C/svg%3E");
}
.topbar-blackFriday {
    background: #b50236;
    color: #ffffff;
}
.topbar-blackFriday i svg {
    fill: #ffb760 !important;
}
#header .utilities .sac .title {
    color: #ffb760;
}
#header .mini-cart .total-qty {
    background: #ffb760;
}
#nav-store .nav-all .sub-open:after{
    background: #ffb760;
}
#header .utilities .box-link .line .sb:hover, 
#header .utilities .box-link .line a:hover {
    color: #ffb760;
    text-decoration: none;
}
#header .utilities .box-link .line .sb:hover, 
#header .utilities .box-link .line a:hover {
    color: #ffb760;
    text-decoration: none;
}
.collection h2 span .new-arrow{
    background: #ffb760;
}
.collection h2 span .new-arrow .slick-arrow:after, body.client-account .c-success {
    color: #ffb760;
}
.ft-newsletter .form fieldset #ne-email{
    border-bottom: 5px solid #ffb760;
}
.banner.position-5 .legenda h3:after{
    background: #ffb760;
}
.ft-map .ft-nav.ft-contact .phone a{
    color: #ffb760;
}
.ft-map .ft-social li a:hover {
    background: #ffb760;
}
#nav-store .nav-departament a.level-1[href="/153?map=c,productClusterSearchableIds,ft"]::before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Camada_1' data-name='Camada 1' viewBox='0 0 17.2 20' style='fill:%23ffb760;'%3E%3Cpath d='M7,3.37A.41.41,0,0,0,7.42,3V.42A.41.41,0,0,0,7,0a.42.42,0,0,0-.42.42V3A.41.41,0,0,0,7,3.37Z' transform='translate(-2)'%3E%3C/path%3E%3Cpath d='M19,13.87,13.74,4.93a1.4,1.4,0,0,0-.67-.6L9.8,2.86l2.73,3.85A2.39,2.39,0,0,1,13,8.14V18.5a2.26,2.26,0,0,1-.1.69l5.58-3.28A1.49,1.49,0,0,0,19,13.87Z' transform='translate(-2)'%3E%3C/path%3E%3Cpath d='M8.23,2.33a1.57,1.57,0,0,0-.53-.47v.87a1,1,0,1,1-1.38,0V1.86a1.4,1.4,0,0,0-.53.47L2.27,7.27A1.52,1.52,0,0,0,2,8.14V18.5A1.5,1.5,0,0,0,3.5,20h7A1.5,1.5,0,0,0,12,18.5V8.14a1.45,1.45,0,0,0-.27-.87Zm1,15.61H4.82v-.89H9.19Zm0-4v1.33H5v-1a4.26,4.26,0,0,1,.32-1.72A6,6,0,0,1,6.45,11,7.16,7.16,0,0,0,7.58,9.47a2.91,2.91,0,0,0,.31-1.28,1.44,1.44,0,0,0-.19-.84.72.72,0,0,0-.57-.23c-.51,0-.76.31-.76.92V9H5V8.13a2.51,2.51,0,0,1,.56-1.74,2.13,2.13,0,0,1,1.63-.61,2.14,2.14,0,0,1,1.63.61,2.51,2.51,0,0,1,.56,1.74A3.71,3.71,0,0,1,9,9.8a7.92,7.92,0,0,1-1.41,1.87,5.74,5.74,0,0,0-.88,1.13,2,2,0,0,0-.23.93v.2Z' transform='translate(-2)'%3E%3C/path%3E%3C/svg%3E");
}
.shelf li .shelf-flags p.off{
    background: #ffb760;
}
.popup-lightbox img{
    box-shadow: 0 0 20px 0 #97002c;
}
::-webkit-scrollbar{
    background: #ffb660;
}
::-webkit-scrollbar-thumb {
    background: #ffb660;
}
.katun #header .logo {
    padding-top: 15px;
}
.top-fixed #header .logo{
    padding-top: 9px;
}
.smarthint .wrap{
    padding: 20px 0;
}
.collection.group-1 h2 span .new-arrow{
    color: rgb(255 183 96);
}
.collection.group-1 h2 span .new-arrow .slick-arrow::after {
    color: rgb(255 183 96);
}
@media (min-width: 1024px){
    .top-fixed #header .logo {
        height: 70px;
        width: 200px;
        padding: 1px 0px;
    }
}
@media (max-width: 1023px){
    #header .logo {
        position: absolute;
        top: 30px;
        left: 42%;
        margin: 0 0 0 -60px;
        height: auto;
    }
    .top-fixed #header .logo {
        top: 0px;
    }
}