<!-- Cookie da nova lei LGPD -->
<vtex.cmc:cookieAlert />
<!-- Cookie da nova lei LGPD -->

<script type="text/javascript" src="https://payottatix.vteximg.com.br/arquivos/slick.min.js"></script>
<script type="text/javascript" src="https://payottatix.vteximg.com.br/arquivos/store-common.js"></script>

<!-- <div id="NeoassistCentral"></div> -->
<script type='text/javascript'> 
	(function() {
	window.NeoAssistTag = {};
	NeoAssistTag.querystring = true;
	NeoAssistTag.pageid = '';
	NeoAssistTag.clientdomain = 'tatix.neoassist.com'; 
	var na = document.createElement('script'); 
	na.type = 'text/javascript'; 
	na.async = true; 
	na.src = 'https://cdn.atendimen.to/n.js'; 
	var s = document.getElementsByTagName('script')[0]; 
	s.parentNode.insertBefore(na, s); 
	})(); 
</script>

<!-- Script Yourviews -->
<script type="text/javascript">
	(function () {
	var yvs = document.createElement("script");
	yvs.type = "text/javascript";
	yvs.async = true;
	yvs.id = "_yvsrc";
	yvs.src = "//service.yourviews.com.br/script/GOURGZGKFUNSADJWCXIPDZBHPIHDWBHOZRCKNFEQQUJFGXUIYBDZKOQGNMCXRCNEMZTIBYIWSSZIPVBRNZFVXHEKBVXBDHZNHETGEMHZTGGSPHQSLKKRXSGEVIHFBGTL/yvapi.js";
	var yvs_script = document.getElementsByTagName("script")[0];
	yvs_script.parentNode.insertBefore(yvs, yvs_script);
	})();
</script>
<!-- /Script Yourviews -->