@import '../../common/scss/tools/_breakpoint.scss';
@import './../../../../../common/scss/layouts/geral/shelf/index.scss';


.slick-dots {
    display: flex !important;
    justify-content: center;
    width: 100%;


    li {
      margin: 0 5px;
      padding: 0 4px;

      button {
        display: block;
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: $color-white;
        border-radius: 50%;
        border: 1px solid $color-main;
        position: relative;
        cursor: pointer;
        transition: all 225ms ease;
      }

      &.slick-active {
        button {
          border-color: $color-main;
        }
      }
    }
  }