<section id="empilhado">
   <div class="empilhado-container">
<div class="page-width feature-row">
  <h3>
      CONSULTE AQUI<br/>
      COMPRAS POR<br/>
      ATACADO
    </h3>
  </div>
  <div class="page-width feature-row cto">
    <div class="productlist">
      <p>Se deseja comprar acima de<br/>
        40 unidades dos sabores de picolé<br/>
        ou 12 unidades dos sabores do pote,<br/>
        clique no botão abaixo e consulte via WhatsApp</p>
      <a href="https://api.whatsapp.com/send?phone=5511979566677" target="_blank">Consultar via WhatsApp</a>
    </div>
  </div>
  </div>
</section>