<section id="produtoscapa">
  <div class="page-width feature-row ct">
    <div class="rotulos">
      <img src="https://cdn.shopify.com/s/files/1/0267/3855/6974/files/rotulos-1.png" alt="Rótulos" />
    </div>
    <div class="txt">
      <h2>
        Você + Mondo = Tudo a ver. <br/>Gostoso, 
        Cremoso e ainda sabe fazer um Estilo.
      </h2>
      <a href="/collections/all">
        <img src="https://cdn.shopify.com/s/files/1/0267/3855/6974/files/compre-agora-rosa.png" alt="COMPRE AQUI" />
      </a>
    </div>
  </div>
</section>