<section id="sobre">
  <div class="iconf left-icon">
    <img src="https://cdn.shopify.com/s/files/1/0267/3855/6974/files/rodape-icon-left.png" width="200" />
  </div>
  <div class="page-width feature-row text-center ct">
     <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
    <img src="https://cdn.shopify.com/s/files/1/0267/3855/6974/t/1/assets/founder.png" width="350" />
    </li>
    </ul>
  <h3>Bem vindo ao mundo de Mondo<br/><span>Conheça as fundadoras</span></h3>
    <a href="/pages/sobre">
      <button>SAIBA MAIS</button>
    </a>
  </div>
  <div class="iconf right-icon">
    <img src="https://cdn.shopify.com/s/files/1/0267/3855/6974/files/rodape-icon-right.png" width="120" />
  </div>
</section>